<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="private ,no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link href="#{request.contextPath}/resources/css/theme.css" rel="stylesheet" type="text/css" />
        <link href="#{request.contextPath}/resources/css/cssLayout.css" rel="stylesheet" type="text/css" />


        <!--<link type="text/css" rel="stylesheet" href="%PATH_TO_THEME_FOLDER%/skin.css"/>-->
        <title>Consulta de Saldo v2.0</title>
        <link rel="icon" type="image/x-icon" href="#{request.contextPath}/resources/icons/tigoLogo.png"/>

        <script type="text/javascript">
            function isMayorUnidConvToUnidCambio() {
                var valor1 = parseInt(document.getElementById("mainForm:idUnidConv").value);
                var valor2 = parseInt(document.getElementById("mainForm:idUnidCamb").value);
                if (valor1 === 0) {
                    if (valor2 === 0) {
                        return false;
                    }
                }
                if (valor1 > valor2) {
                    return true;
                } else {
                    return false;
                }

            }
        </script>
    </h:head>
    
    <body>

        <div id="block-tigo-menu-menu-secundario-tigo">
            <div id="logo2">
            </div>
            <div id="separacion">
            </div>

            <div id="headerText2">
                <td><span>
                        <h:outputText value="Consulta de Saldo Unificada"/> </span></td>
            </div>      

        </div>


        <div id="wrap">            

            <h:form>             
                <p:menubar model="#{login.model}" />
            </h:form>

            <div id="content">
                <div class="nav">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>


        </div>
        <div id="postcontent">
            <div style="position: relative; left: 150px; font-size: 11px;">         <td><span>
                        <h:outputText  value="Tigo Copyright ©. Bolivia Myapps. Todos los derechos reservados"/> </span></td>    
            </div>


        </div>
    </body>

</html>
