<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="private ,no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link rel="shortcut icon" href="#{request.contextPath}/resources/icons/icon57.png" />
        <link href="#{request.contextPath}/resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
     <!--   <link type="text/css" rel="stylesheet" href="%PATH_TO_THEME_FOLDER%/skin.css"/>-->

        <title>OPT-in | TIGO BOLIVIA</title>
    </h:head>
    <body>
        <!--        <div id="loginj">
                        <ui:insert name="loginj"></ui:insert>
                    <div id="logo">
                        <ui:insert name="logo"></ui:insert>
                    </div> 
                    <div id="headerText">
                             <td><span>
                                     <h:outputText value="{loginOptinPublic.webTitleHeader}"/> </span></td>
                    </div>                 
                     
                              
                    </div>-->
        <div id="header"></div>
        <div id="block-tigo-menu-menu-secundario-tigo">
            <div id="logo2">
                <!--                <ui:insert name="logo"></ui:insert>-->
            </div>
            <div id="separacion">
            </div>

            <div id="headerText2">
                <td><span>
                        <h:outputText value="#{loginOptinPublic.webTitleHeader}"/> </span></td>
            </div>      

        </div>
        <div id="sombra"></div>


        <!--           <div id="block-tigo-menu-menu-secundario-tigo"></div>-->


        <div id="wrap">


            <!--            <h:form>             
                           <p:menubar model="{login.model}" />
                        </h:form>-->

            <div id="content">
                <div style="min-height: 300px;" class="nav">
                    <ui:insert name="content">Content</ui:insert>
                </div>
            </div>


        </div>
        <!--         <div id="bottom">
                    <div id="footerText">
                             <td><span>
                              © Copyright Telecel Bolivia - 2012</span></td>
                     </div>                   
                </div>-->
        <div id="postcontent">
            <div style="position: relative; left: 150px; font-size: 11px;">         <td><span>
                        <h:outputText  value="Tigo Copyright ©. Bolivia Myapps. Todos los derechos reservados"/> </span></td>    
            </div>


        </div>
    </body>

</html>
