<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Cache-Control" content="private ,no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <link href="#{request.contextPath}/resources/css/styleLogin.css" rel="styleSheet" type="text/css"/>
        <title>Consulta de Saldo v2.0</title>
        <link rel="icon" type="image/x-icon" href="#{request.contextPath}/resources/icons/tigoLogo.png"/>

    </head>

    <body onload="foco()">
         <script type="text/javascript">
            function foco() {
                try {
                  //  document.getElementById("j_idt8:userId").focus();
                      document.getElementById("j_idt6:userId").focus();
                } catch (err) {
                       console.log("No se encotro el elemento: j_idt6:userId");
                }
            }
        </script>
        <!--    <div id="header"></div>-->
        <div id="block-tigo-menu-menu-secundario-tigo">
            <div id="logo2">
                <!--                <ui:insert name="logo"></ui:insert>-->
            </div>
            <div id="separacion">
            </div>

            <div id="headerText2">
                <td><span>
                        <h:outputText value="Consulta de Saldo Unificada"/> 
                    </span></td>
            </div>      

        </div>


        <!--         <div id="loginj">
                        <ui:insert name="loginj"></ui:insert>
                    <div id="logo">
                        <ui:insert name="logo"></ui:insert>
                    </div> 
                   
                              
                    </div>-->
        <div id="wrap">


            <div id="content">
                <div class="nav">
                    <div id="box">
                        <div id="logo">                            
                            <!--                            <ui:insert name="logo"></ui:insert>-->
                        </div>
                        <div id="tituloLogin"><h:outputText value="INICIO DE SESIÓN"></h:outputText> </div>
                        <div id="logo_login"/>
                        <ui:insert name="content">Content</ui:insert>
                        <div id="login_final"/>
                    </div>

                </div>

            </div>            
        </div>

        <div id="postcontent">
            <div style="position: relative; left: 150px; font-size: 11px;">         <td><span>
                        <h:outputText  value="Tigo Copyright ©. Bolivia Myapps. Todos los derechos reservados"/> </span></td>    
            </div>


        </div>
        <!--        <div id="bottom">
                    <div id="footerText">
                             <td><span>
                              © Copyright Telecel Bolivia - 2012</span></td>
                     </div>                   
                </div>-->
    </body>

</html>

