body {
    background-color: #FFFFFF;
    color: #808285;
    font-family: Tahoma,sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
}
#logo {
    /*float: left;*/
    position:relative;
	top:10px;
	left:55px;
    width: 87px;  
	height: 62px;
    background-image: url("images/logo.png");
	/*background: url(images/logo.png) no-repeat;*/
}
#headerText {
    font-size: 28px;
    font-weight: normal;
	color:white;
	position:absolute;
	top:20px;
	left:250px;
}
#footerText {
    font-size: 12px;
    font-weight: normal;
	color:#808285;
	position:inherit;
	top:45px;
	left:250px;
}
/*#loginj {
    height: 80px;
    line-height: 30px;
    background: #3069AE url(images/menu.jpg) no-repeat left top;
	background: #3069AE;
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
	min-width:1000px;
    
}*/

#wrap {
    margin: 0 auto;
/*    width: 780px;*/
    /*width: 1350px;*/
    width: 1420px;
}
#wrap2 {
    margin: 0 auto;
/*    width: 780px;*/
    width: 1250px;
}

#bottom {
    height: 50px;
    line-height: 30px;
    
	/*background: url(images/footer1.jpg) repeat-x scroll left top transparent;*/
	background:none repeat scroll 0 0 #bfd3ed;
	/*border-bottom: #ccc 2px solid;*/
	/*border-top: #ccc 2px solid;*/
	
    text-align: center;
    font-size: 11px;
    color: #fff;
}
#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
.nav{
    border-bottom: #ccc 1px solid;
    border-left: #ccc 1px solid;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1px;
    border-top: #ccc 1px solid;
    margin-right: 1px;
    border-right: #ccc 1px solid;
    padding-top : 5px;
}

#title {
    font-size: 12px;
    color: #234F89;
    letter-spacing: -1px;
    font-weight: 100;
    font-weight: bold;
}

#title2{
    color: #4D4D4D;
    font-weight: bold;
    font-weight: 100;
}
/*#loginj {
    height: 80px;
    line-height: 30px;
    background: #3069AE url(images/menu.jpg) no-repeat left top;
	background: #3069AE;
    text-align: left;
    font-size: 20px;
    color: #FFFFFF;
	min-width:1000px;
    
}*/

#centrado-porcentual {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#loginj {
    height: 80px;
    /*line-height: 30px;
    /*background: #3069AE url(images/menu.jpg) no-repeat left top;*/
	background: url(images/header-bkg.png) repeat-x scroll left top transparent;
    padding:0;
	min-width:1205px;
    
}
#header_resize {
    padding: 0;
    width: 1250px;
}

#loginj em{
    color: #7BB6D4;
    font-size: 13px;
    font-weight: bold;
}

#logintitle{
    font-size: 15px;
    color: #234F89;
    letter-spacing: -1px;
    font-weight: 100;
    font-weight: bold;
}

h1 {
    letter-spacing: -1px;
    color: #3069AE;

}
h2 {
    /*
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 100;/*/
    font-size: 15px;
    color: #234F89;
    /*padding: 5px 0 0 20px;*/
    letter-spacing: -1px;
    font-weight: 100;
    font-weight: bold;
}

#content {
    background-color: #fff;
    font-size: 10px;
    /*font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif; */
	font-family:Verdana, Arial, Helvetica, sans-serif;
    color: #000000;
}

img
{
border:0;
}


#header {
    /*line-height: 30px;
    /*background: #3069AE url(images/menu.jpg) no-repeat left top;*/
    background: url(images/top-fondo.jpg) repeat-x scroll center center transparent;
    height: 32px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;    
}
#block-tigo-menu-menu-secundario-tigo{
    margin: 0 auto;
    /*width: 1350px;*/
    width: 1420px;
/*    left: 750px;*/
    background: url(images/menu-fondo.png) repeat-x scroll center center transparent;
    border-radius: 5px 5px 5px 5px;
/*    width: 400px;*/
    height: 66px;
    position: relative;    
    z-index: 101;
}
#logo2 {
    /*float: left;*/
    position:relative;
	top:18px;
	left:25px;
    width: 49px;  
	height: 37px;
    background-image: url("images/logo_0_0.png");
	/*background: url(images/logo.png) no-repeat;*/
}
#separacion {
    /*float: left;*/
    position:relative;
	top:-16px;
	left:90px;
    width: 2px;  
	height: 31px;
    background-image: url("images/menu-division.png");
	/*background: url(images/logo.png) no-repeat;*/
}
#headerText2 {
    font-size: 28px;
    font-weight: normal;
    color:white;
    position:absolute;
    top:16px;
    left:110px;
}

#postcontent {
    background: url(images/footer-fondo.jpg) repeat scroll 0 0 transparent;
    border-top: 1px solid #DDDFE5;
    clear: both;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}
.ui-panelgrid td {
    border-color: inherit;
    border-style: solid;
    border-width: 0px;
    /*padding: 4px 10px;*/
    padding: 1px 1px;
}

.icono-add {   
    width: 24px;   
    height: 24px;
    background-image: url(images/add.png);
}

.icono-quit {   
    width: 24px;   
    height: 24px;
    background-image: url(images/quit.png);
}


.styleHeadWalletsConfig {
    text-align: left;
    border: 0 !important;
    border-width: 0 !important;
    border-style: none !important;
}