body {
    background-color: #FFFFFF;
    color: #808285;
    font-family: Tahoma,sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    width: 100%;
    height:100%;
}
#logo {
    /*    float: left;*/
    position:absolute;
    top:-15px;
    left:15px;
    width: 50px;  
    height: 59px;
    background-image: url("images/tigo_little.png");
    /*    border-radius: 5px 5px 5px 5px;
        border-bottom: #C8C8C8 1px solid;
        border-left: #C8C8C8 1px solid;
        border-top: #C8C8C8 1px solid;
        border-right: #C8C8C8 1px solid; */
    /*    box-shadow: 3px 3px 3px #C8C8C8;*/
    /*background: url(images/logo.png) no-repeat;*/
}
#headerText {
    font-size: 28px;
    font-weight: normal;
    color:white;
    position:absolute;
    top:20px;
    left:250px;
}
#footerText {
    font-size: 15px;
    font-weight: normal;
    color:#808285;
    position:inherit;
    top:45px;
    left:250px;
}

#loginj {
    height: 80px;
    /*line-height: 30px;
    /*background: #3069AE url(images/menu.jpg) no-repeat left top;*/
    background: url(images/header-bkg.png) repeat-x scroll left top transparent;
    padding:0;
    min-width:1000px;

}
#loginj em{
    color: #7BB6D4;
    font-size: 13px;
    font-weight: bold;
}

#wrap {
    margin: 0 auto;
    width: 1060px;   

}

#bottom {
    height: 50px;
    line-height: 30px;
    /*background: #D1E6EF url(images/footer.jpg) no-repeat;*/
    border-bottom: #ccc 2px solid;

    background: #D1E6EF ;
    text-align: center;
    font-size: 11px;
    color: #fff;
}
#box{
    /*    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);*/
    border-radius: 5px 5px 5px 5px;
    margin-bottom: -25px;
    padding: 3px;
    position: relative;
    top: -50px;
    box-shadow: 3px 3px 3px #C8C8C8;

    border-bottom: #C8C8C8 1px solid;
    border-left: #C8C8C8 1px solid;
    border-top: #C8C8C8 1px solid;
    border-right: #C8C8C8 1px solid; 

    padding-bottom: 15px;
    margin-top: 5px;
    /*    margin-bottom: 5px;*/
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1px;

    margin-right: 1px;

    padding-top : 5px;
    width:360px;
    height:210px;	
    position:relative;
    left:320px;
    top: 40px;

    background: #fafafa;     
}

.nav{
    border-bottom: #ccc 1px solid;
    border-left: #ccc 1px solid;
    padding-bottom: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1px;
    border-top: #ccc 1px solid;
    margin-right: 1px;
    border-right: #ccc 1px solid;
    padding-top : 5px;
    /*    height: 300px;*/
    min-height:400px; 
    background-color: #FFFFFF;
}

h1 {
    letter-spacing: -1px;
    /*color: #3069AE;*/
    font:bold 20px Arial,Helvetica,sans-serif;
    /*	color: #5F5F5F;*/
    color: #2E61A7;
}

#logintitle {
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -1px;
}

img
{
    border:0;
}
.INPUT_TEXT{    
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #929292 #D6D8D8 #D6D8D8;
    border-image: none;
    border-right: 1px solid #D6D8D8;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #DCDCDC inset;
    clear: both;
    float: left;
    font-size: 14px;
    height: 18px;
    line-height: 14px;
    margin: 14px 0 0;
    width: 150px;
}

#textoLogin {
    position: relative;
    top: 5px;
    left:40px; 
    height: 50px;
    line-height: 30px;

    /*    text-align: center;*/
    font-size: 11px;
    color: #fff;
}

#tituloLogin {
    font-family: calibri;
    position: relative;
    top: 10px;
    left:60px; 
    font-size: 18px;
    font-weight: normal;
}

/*............................................................................*/
.button, .button:visited { /* botones genéricos */
    background: #222 url(images/overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #FFF;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    border-radius: 5px;
    position: relative;
    cursor:pointer;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

.button:hover { /* el efecto hover */
    background-color: #111;
    color: #FFF;
}

.button:active{ /* el efecto click */
    top: 1px;
}

/* botones pequeños */
.small.button, .small.button:visited {
    font-size: 11px ;
}

/* botones medianos */
.button, .button:visited,.medium.button, .medium.button:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

/* botones grandes */
.large.button, .large.button:visited {
    font-size:14px;
    padding: 8px 14px 9px;
}

/* botones extra grandes */
.super.button, .super.button:visited {
    font-size: 34px;
    padding: 8px 14px 9px;
}

.pink.button { background-color: #E22092; }
.pink.button:hover{ background-color: #C81E82; }

.green.button, .green.button:visited { background-color: #91BD09; }
.green.button:hover{ background-color: #749A02; }

.red.button, .red.button:visited { background-color: #E62727; }
.red.button:hover{ background-color: #CF2525; }

.orange.button, .orange.button:visited { background-color: #FF5C00; }
.orange.button:hover{ background-color: #D45500; }

.blue.button, .blue.button:visited { background-color: #2E61A7; }
.blue.button:hover{ background-color: #2E6AAA; }

.yellow.button, .yellow.button:visited { background-color: #FFB515; }
.yellow.button:hover{ background-color: #FC9200; }
/*......................................................................*/

#header {
    /*line-height: 30px;
    /*background: #3069AE url(images/menu.jpg) no-repeat left top;*/
    background: url(images/top-fondo.jpg) repeat-x scroll center center transparent;
    height: 32px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 10;    
}
#block-tigo-menu-menu-secundario-tigo{
    margin: 0 auto;
    width: 1060px;
    /*    left: 750px;*/
    background: url(images/menu-fondo.png) repeat-x scroll center center transparent;
    border-radius: 5px 5px 5px 5px;
    /*    width: 400px;*/
    height: 66px;
    position: relative;    
    z-index: 101;
}
#logo2 {
    /*float: left;*/
    position:relative;
    top:18px;
    left:25px;
    width: 49px;  
    height: 37px;
    background-image: url("images/logo_0_0.png");
    /*background: url(images/logo.png) no-repeat;*/
}
#separacion {
    /*float: left;*/
    position:relative;
    top:-16px;
    left:90px;
    width: 2px;  
    height: 31px;
    background-image: url("images/menu-division.png");
    /*background: url(images/logo.png) no-repeat;*/
}
#headerText2 {
    font-size: 28px;
    font-weight: normal;
    color:white;
    position:absolute;
    top:16px;
    left:110px;
}

#postcontent {
    background: url(images/footer-fondo.jpg) repeat scroll 0 0 transparent;
    border-top: 1px solid #DDDFE5;
    clear: both;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    height: 100px;
    margin: 20px auto 0;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

/*--------------------------------------------------------------------*/
#logo_login {
    /*    float: left;*/
    z-index: 1020;
    position:absolute;
    top:10px;
    left:350px;
    width: 30px;  
    height: 30px;
    background-image: url("images/lock2.png");
    /*    border-radius: 5px 5px 5px 5px;
        border-bottom: #C8C8C8 1px solid;
        border-left: #C8C8C8 1px solid;
        border-top: #C8C8C8 1px solid;
        border-right: #C8C8C8 1px solid; */
    /*    box-shadow: 3px 3px 3px #C8C8C8;*/
    /*background: url(images/logo.png) no-repeat;*/
}
#inputUser {   
    /*    font-family: Arial,Helvetica,sans-serif;*/
    z-index: 1000;
    position: relative;
    top: 40px;
    left:-20px; 

}
#inputPass {   
    /*    font-family: Arial,Helvetica,sans-serif;*/
    z-index: 1001;
    position: relative;
    top: 70px;
    left:-20px; 

}

#txtUser {
    z-index: 1002;
    color: #808285;
    /*    font-family: calibri;*/
    position: relative;
    top: -5px;
    left:190px;    

}
#txtPass {
    z-index: 1003;
    color: #808285;
    /*    font-family: Arial,Helvetica,sans-serif;*/
    position: relative;
    top: 10px;
    left:190px; 

}
#btnLogin {
    z-index: 1004;
    color: #808285;
    /*    font-family: Arial,Helvetica,sans-serif;*/
    position: relative;
    top: 15px;
    left:120px;     
}

#login_final {
    border-radius: 0px 0px 8px 8px;
    margin-bottom: -25px;
    padding: 3px;
    position: relative;
    top: -50px;
    /*    box-shadow: 3px 3px 3px #C8C8C8;*/
    border-bottom: #C8C8C8 1px solid;
    border-left: #C8C8C8 1px solid;
    border-top: #C8C8C8 1px solid;
    border-right: #C8C8C8 1px solid; 
    padding-bottom: 15px;
    margin-top: 15px;
    /*    margin-bottom: 5px;*/
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 1px;  
    margin-right: 1px;    
    padding-top : 5px;
    /*width:350px;*/
    width:362px;
    height:4px;	
    position:relative;
    /*    left:-9px;*/
    left:-15px;
    /*    top: 108px;*/
    top: 112px;

    background: white;
    background: -moz-linear-gradient(top,#B7C9E1, #254D85);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#B7C9E1), to(#254D85));
    /* filter:Alpha(Opacity=100, FinishOpacity=0, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=100%);*/
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B7C9E1', EndColorStr='#254D85');


}