/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-jun-2017, 11:27:47
    Author     : Vehimar
*/

.ui-picklist .ui-picklist-list{
    list-style-type:none;
    margin:0;padding:0;
    overflow:auto;
    height:200px;
    width:285px !important;
}

.ui-picklist .ui-picklist-filter-container .ui-icon{
    position: absolute;
    top: 5px;
    right: 9px !important;    
}

.ui-picklist .ui-picklist-filter{
    padding-right: 15px;
    width: 93% !important;
}
.ui-datatable-cell-active {
 background-color: #c5dbec;    
}
