<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:pou="http://primefaces.org/ui" xmlns:h="http://java.sun.com/jsf/html">
    <head>
        <title>Página no encontrada | TIGO OPTIN</title>
    </head>
    <body>
        <div style=" clear: both;
    color: #3046A4;
    font-family: cronos-pro;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    margin: 0 0 20px;">404 - Page Not Found</div>

        <h:form id="frm">
            <h:commandLink id="out" action="/view/Login.xhtml" >
                <h:outputText value="regresar" />                                                                            
            </h:commandLink>

        </h:form>
           
    </body>
</html>
