
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h1>GESTIONAR ACUMULADOR</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{acumuladorForm.acumuladorId}"/>
                            <h:inputHidden value="#{acumuladorForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 350px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="AcumuladorId : " rendered="#{acumuladorForm.edit}"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="acumuladorId"  size="30"  maxlength="30" rendered="#{acumuladorForm.edit}" disabled="true" value="#{acumuladorForm.acumulador.acumuladorId}"/>
                                                </td> 
                                            </tr>



                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Nombre : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="nombre"  size="30"  maxlength="30"
                                                                  value="#{acumuladorForm.acumulador.nombre}"/>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Limite : "/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerValor" min="0" stepFactor="1" value="#{acumuladorForm.acumulador.limite}">
                                                        <f:validateDoubleRange minimum="0" maximum="9999999999" />
                                                        <f:convertNumber integerOnly="true" maxIntegerDigits="10" type="number" />
                                                        <p:ajax listener="#{acumuladorForm.toInt()}" process="@this" update="@this" event="change" />
                                                    </p:spinner>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{acumuladorForm.saveAcumulador}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 
                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{acumuladorForm.newAcumulador}"  id="buttonNuevo" value="Limpiar"/>
                                                </td> 
                                            </tr>                         

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable var="row" value="#{acumuladorForm.listAcumulador}" paginator="true" rows="#{acumuladorForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{acumuladorForm.rowMaxTable}"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE ACUMULADOR 
                                        </f:facet>                                     
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="LIMITE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.limite}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{acumuladorForm.editAcumulador}" >
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="acumuladorId" value="#{row.acumuladorId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{acumuladorForm.deleteAcumulador}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="acumuladorId" value="#{row.acumuladorId}"/>
                                            </h:commandLink>
                                        </p:column>

                                    </p:dataTable>                             
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>        
    </body>

</html>
