<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <p:panel style="width: 960px;">
                        <center>

                            <h2 align="left">BILLETERA AGRUPADA</h2>

                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                                <tr>
                                    <td align="center" colspan="2">
                                        <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                    </td>
                                </tr>

                                <tr>

                                    <td width="100%" align="left">


                                        <p:panel  header="INFORMACION GENERAL" style="width: 350px">
                                            <table>                            			
                                                <tr>
                                                    <td align="left">
                                                        <h:outputText  value="Nombre:"/>
                                                    </td>
                                                    <td align="left">
                                                        <h:outputText  value="#{billeteraAgrupadaForm.myWalletComposite.nombre}"/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="left">
                                                        <h:outputText  value="Nombre Comercial :"/>
                                                    </td>
                                                    <td align="left">
                                                        <h:outputText  value="#{billeteraAgrupadaForm.myWalletComposite.nombreComercial}"/>
                                                    </td>
                                                </tr>                                       
                                                <tr>
                                                    <td align="left">
                                                        <h:outputText value="Unit Type :"/>
                                                    </td>

                                                    <td align="left">
                                                        <h:outputText value="#{billeteraAgrupadaForm.UT.nombre}"/>
                                                    </td>

                                                </tr>



                                            </table>

                                        </p:panel>

                                    </td>
                                </tr>

                                <tr>
                                    <td width="100%" align="left">
                                        <br></br><br></br>
                                        <p:commandButton  id="showDialogButton" icon="ui-icon-plusthick" type="button" value="Add Billetera Simple" onclick="dlg.show()" />
                                        <p:dialog header="Adicionando Billetera" widgetVar="dlg" resizable="false">                                           

                                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                                <h:outputLabel for="Texto" value="Billetera:" />

                                                <h:selectOneMenu id="selectItemBilletera" value="#{billeteraAgrupadaForm.selectedItemBilletera}">
                                                    <f:selectItems value="#{billeteraAgrupadaForm.selectItemsBillera}" />
                                                </h:selectOneMenu>
                                            </h:panelGrid>

                                            <p:commandButton id="submitButton" actionListener="#{billeteraAgrupadaForm.addBilleteraSimple()}" value="Aceptar" update="dataTableBilleterasSimples,selectItemBilletera" oncomplete="dlg.hide();"/>
                                        </p:dialog>
                                        <p:dataTable id="dataTableBilleterasSimples" value="#{billeteraAgrupadaForm.billeteraList}" var="row"  paginator="true" rows="#{billeteraAgrupadaForm.rowMaxTable}"  
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{billeteraAgrupadaForm.rowMaxTable}"
                                                     >
                                            <f:facet name="header">  
                                                BILLETERAS BASE
                                            </f:facet>

                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.nombreComverse}"/>
                                            </p:column> 
                                            <p:column>
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE COMERCIAL"/>
                                                </f:facet>                                    
                                                <h:outputText value="#{row.nombreComercial}"/>
                                            </p:column>

                                        </p:dataTable>                          
                                    </td> 
                                </tr>
                            </table>

                        </center>
                    </p:panel>
                    <p:commandButton onclick="loading();" action="#{billeteraAgrupadaForm.saveBilleterasParaGrupo()}" icon="ui-icon-disk" styleClass="button validate" id="buttonValidate" value="Guardar"/>  
                    <p:commandButton  action="/view/listBilleterasAgrupadasForm.xhtml" onclick="loading();"   id="buttonNuevo" value="Cancelar"/>
                </h:form>

            </ui:define>
        </ui:composition>

    </body>

</html>

