<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h1>BITACORA</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">


                            <tr>
                                <td width="100%">

                                    <p:dataTable var="row" value="#{bitacoraForm.listBitacora}" paginator="true" rows="30"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="30,50,100">
                                        <f:facet name="header">  
                                            Lista de Palabras Claves  
                                        </f:facet>
                                        <p:column sortBy="#{row.startDate}" filterBy="#{row.startDate}">
                                            <f:facet name="header">
                                                <h:outputText value="FECHA"/>
                                            </f:facet>
                                            <h:outputText value="#{row.startDate}"/>
                                        </p:column>

                                        <p:column sortBy="#{row.action}" filterBy="#{row.action}" >
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>
                                            <h:outputText value="#{row.action}"/>
                                        </p:column>

                                        <p:column sortBy="#{row.form}" filterBy="#{row.form}" >
                                            <f:facet name="header">
                                                <h:outputText value="FORMULARIO"/>
                                            </f:facet>
                                            <h:outputText value="#{row.form}"/>
                                        </p:column>

                                        <p:column sortBy="#{row.user}" filterBy="#{row.user}" >
                                            <f:facet name="header">
                                                <h:outputText value="USUARIO"/>
                                            </f:facet>
                                            <h:outputText value="#{row.user}"/>
                                        </p:column>

                                        <p:column sortBy="#{row.address}" filterBy="#{row.address}" >
                                            <f:facet name="header">
                                                <h:outputText value="DIRECCION IP"/>
                                            </f:facet>
                                            <h:outputText value="#{row.address}"/>
                                        </p:column>

                                    </p:dataTable>

                                </td>
                            </tr>


                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

