
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <body>

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h2 align="left">GESTIONAR CAMPAÑA</h2>

                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{campaignForm.edit}"/>
                            <h:inputHidden value="#{campaignForm.campaign.campaignId}"/>

                            <tr>
                                <td width="90%">

                                    <p:panel style="width: 650px" >
                                        <f:facet name="header" >
                                            INFORMACION GENERAL
                                        </f:facet>
                                        <table>
                                            <h:inputHidden value="#{campaignForm.edit}"/>
                                            <h:inputHidden value="#{campaignForm.campaignId}"/>
                                            <tr>
                                                <td align="center" colspan="2">
                                                    <h:outputText value="#{campaignForm.messageInfAdm}" style="color: red"/>
                                                </td>  
                                            </tr>
                                            <tr>
                                                <td align="center" colspan="2">
                                                    <h:outputText value="#{campaignForm.message}" style="color: red"/>
                                                </td>  
                                            </tr>

                                            <tr>
                                                <td align="left"> <h:outputText  value="Descripción :"/> </td>
                                                <td align="left">
                                                    <h:inputText id="description"  size="80" maxlength="80" value="#{campaignForm.campaign.description}" styleClass="inputbox"/>
                                                </td>
                                            </tr>                                       

                                            <tr>
                                                <td align="left"><h:outputText value="Prioridad : "/></td>

                                                <td align="left">

                                                    <h:selectOneMenu value="#{campaignForm.strPriority}"  onselect="#{campaignForm.strPriority}" >

                                                        <f:selectItem itemValue="01" itemLabel="01"/>
                                                        <f:selectItem itemValue="02" itemLabel="02"/>
                                                        <f:selectItem itemValue="03" itemLabel="03"/>
                                                        <f:selectItem itemValue="04" itemLabel="04"/>
                                                        <f:selectItem itemValue="05" itemLabel="05"/>
                                                        <f:selectItem itemValue="06" itemLabel="06"/>
                                                        <f:selectItem itemValue="07" itemLabel="07"/>
                                                        <f:selectItem itemValue="08" itemLabel="08"/>
                                                        <f:selectItem itemValue="09" itemLabel="09"/>

                                                        <f:selectItem itemValue="10" itemLabel="10"/>
                                                        <f:selectItem itemValue="11" itemLabel="11"/>
                                                        <f:selectItem itemValue="12" itemLabel="12"/>
                                                        <f:selectItem itemValue="13" itemLabel="13"/>
                                                        <f:selectItem itemValue="14" itemLabel="14"/>
                                                        <f:selectItem itemValue="15" itemLabel="15"/>
                                                        <f:selectItem itemValue="16" itemLabel="16"/>
                                                        <f:selectItem itemValue="17" itemLabel="17"/>
                                                        <f:selectItem itemValue="18" itemLabel="18"/>
                                                        <f:selectItem itemValue="19" itemLabel="19"/>

                                                        <f:selectItem itemValue="20" itemLabel="20"/>
                                                        <f:selectItem itemValue="21" itemLabel="21"/>
                                                        <f:selectItem itemValue="22" itemLabel="22"/>
                                                        <f:selectItem itemValue="23" itemLabel="23"/>
                                                        <f:selectItem itemValue="24" itemLabel="24"/>
                                                        <f:selectItem itemValue="25" itemLabel="25"/>
                                                        <f:selectItem itemValue="26" itemLabel="26"/>
                                                        <f:selectItem itemValue="27" itemLabel="27"/>
                                                        <f:selectItem itemValue="28" itemLabel="28"/>
                                                        <f:selectItem itemValue="29" itemLabel="29"/>

                                                        <f:selectItem itemValue="30" itemLabel="30"/>
                                                        <f:selectItem itemValue="31" itemLabel="31"/>
                                                        <f:selectItem itemValue="32" itemLabel="32"/>
                                                        <f:selectItem itemValue="33" itemLabel="33"/>
                                                        <f:selectItem itemValue="34" itemLabel="34"/>
                                                        <f:selectItem itemValue="35" itemLabel="35"/>
                                                        <f:selectItem itemValue="36" itemLabel="36"/>
                                                        <f:selectItem itemValue="37" itemLabel="37"/>
                                                        <f:selectItem itemValue="38" itemLabel="38"/>
                                                        <f:selectItem itemValue="39" itemLabel="39"/>

                                                        <f:selectItem itemValue="40" itemLabel="40"/>
                                                        <f:selectItem itemValue="41" itemLabel="41"/>
                                                        <f:selectItem itemValue="42" itemLabel="42"/>
                                                        <f:selectItem itemValue="43" itemLabel="43"/>
                                                        <f:selectItem itemValue="44" itemLabel="44"/>
                                                        <f:selectItem itemValue="45" itemLabel="45"/>
                                                        <f:selectItem itemValue="46" itemLabel="46"/>
                                                        <f:selectItem itemValue="47" itemLabel="47"/>
                                                        <f:selectItem itemValue="48" itemLabel="48"/>
                                                        <f:selectItem itemValue="49" itemLabel="49"/>

                                                        <f:selectItem itemValue="50" itemLabel="50"/>
                                                        <f:selectItem itemValue="51" itemLabel="51"/>
                                                        <f:selectItem itemValue="52" itemLabel="52"/>
                                                        <f:selectItem itemValue="53" itemLabel="53"/>
                                                        <f:selectItem itemValue="54" itemLabel="54"/>
                                                        <f:selectItem itemValue="55" itemLabel="55"/>
                                                        <f:selectItem itemValue="56" itemLabel="56"/>
                                                        <f:selectItem itemValue="57" itemLabel="57"/>
                                                        <f:selectItem itemValue="58" itemLabel="58"/>
                                                        <f:selectItem itemValue="59" itemLabel="59"/>

                                                        <f:selectItem itemValue="60" itemLabel="60"/>
                                                        <f:selectItem itemValue="61" itemLabel="61"/>
                                                        <f:selectItem itemValue="62" itemLabel="62"/>
                                                        <f:selectItem itemValue="63" itemLabel="63"/>
                                                        <f:selectItem itemValue="64" itemLabel="64"/>
                                                        <f:selectItem itemValue="65" itemLabel="65"/>
                                                        <f:selectItem itemValue="66" itemLabel="66"/>
                                                        <f:selectItem itemValue="67" itemLabel="67"/>
                                                        <f:selectItem itemValue="68" itemLabel="68"/>
                                                        <f:selectItem itemValue="69" itemLabel="69"/>

                                                        <f:selectItem itemValue="70" itemLabel="70"/>
                                                        <f:selectItem itemValue="71" itemLabel="71"/>
                                                        <f:selectItem itemValue="72" itemLabel="72"/>
                                                        <f:selectItem itemValue="73" itemLabel="73"/>
                                                        <f:selectItem itemValue="74" itemLabel="74"/>
                                                        <f:selectItem itemValue="75" itemLabel="75"/>
                                                        <f:selectItem itemValue="76" itemLabel="76"/>
                                                        <f:selectItem itemValue="77" itemLabel="77"/>
                                                        <f:selectItem itemValue="78" itemLabel="78"/>
                                                        <f:selectItem itemValue="79" itemLabel="79"/>

                                                        <f:selectItem itemValue="80" itemLabel="80"/>
                                                        <f:selectItem itemValue="81" itemLabel="81"/>
                                                        <f:selectItem itemValue="82" itemLabel="82"/>
                                                        <f:selectItem itemValue="83" itemLabel="83"/>
                                                        <f:selectItem itemValue="84" itemLabel="84"/>
                                                        <f:selectItem itemValue="85" itemLabel="85"/>
                                                        <f:selectItem itemValue="86" itemLabel="86"/>
                                                        <f:selectItem itemValue="87" itemLabel="87"/>
                                                        <f:selectItem itemValue="88" itemLabel="88"/>
                                                        <f:selectItem itemValue="89" itemLabel="89"/>

                                                        <f:selectItem itemValue="90" itemLabel="90"/>
                                                        <f:selectItem itemValue="91" itemLabel="91"/>
                                                        <f:selectItem itemValue="92" itemLabel="92"/>
                                                        <f:selectItem itemValue="93" itemLabel="93"/>
                                                        <f:selectItem itemValue="94" itemLabel="94"/>
                                                        <f:selectItem itemValue="95" itemLabel="95"/>
                                                        <f:selectItem itemValue="96" itemLabel="96"/>
                                                        <f:selectItem itemValue="97" itemLabel="97"/>
                                                        <f:selectItem itemValue="98" itemLabel="98"/>
                                                        <f:selectItem itemValue="99" itemLabel="99"/>

                                                        <f:selectItem itemValue="100" itemLabel="100"/>         

                                                    </h:selectOneMenu>

                                                </td>
                                            </tr>

                                        </table>
                                    </p:panel>

                                </td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <br></br> <br></br>  
                                    <p:dataTable  id="tableSorter" var="row" value="#{campaignForm.sorterList}" paginator="false" rows="10"  
                                                  paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
                                        <f:facet name="header">  
                                            LISTA DE CLASIFICADORES
                                        </f:facet>                                     

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="ID" />
                                            </f:facet>
                                            <h:outputText  value="#{row.sorterId}"/>
                                        </p:column>  

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE DEL CLASIFICADOR" />
                                            </f:facet>
                                            <h:outputText value="#{row.name}"/>
                                        </p:column>                                  

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCION"/>
                                            </f:facet>  
                                            <h:selectOneMenu value="#{row.ndCombo.selectedItemSorter}" onselect="#{row.ndCombo.selectedItemSorter}">
                                                <f:attribute name="optionClasses" value="option1, option2" />
                                                <f:selectItems value="#{row.ndCombo.selectItemsSorter}" />
                                            </h:selectOneMenu>
                                        </p:column> 

                                    </p:dataTable>   
                                </td>
                            </tr>
                            <tr>


                            </tr>
                            <tr>
                                <td width="100%">                                   
                                    <br></br> 
                                    <br></br>  
                                    <p:dataTable id="tableMsg" var="row" 
                                                 value="#{campaignForm.messagesList}" paginator="true" rows="15"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
                                        <f:facet name="header">  
                                            LISTA DE MENSAJES
                                        </f:facet>                                     

                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="ACCION" />
                                            </f:facet>
                                            <h:selectBooleanCheckbox value="#{campaignForm.selectedMessageIds[row.messageId]}" />
                                        </p:column>                                      <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="MENSAJE" />
                                            </f:facet>
                                            <h:outputText value="#{row.description}"/>
                                        </p:column> 

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="FECHA INI"/>
                                            </f:facet>  
                                            <h:outputText value="#{row.startDate}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="FECHA FIN"/>
                                            </f:facet>  
                                            <h:outputText value="#{row.endDate}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ESTADO"/>
                                            </f:facet>  
                                            <h:outputText value="#{row.nameStatus}"/>
                                        </p:column> 

                                    </p:dataTable>   
                                </td>
                            </tr>                        
                            <tr>                                
                                <td align="left">
                                    <br/>
                                    <p:commandButton onclick="loading();" 
                                                     action ="#{campaignForm.saveCampaign}" 
                                                     styleClass="button validate" id="buttonValidate" 
                                                     value="Guardar"  /> &nbsp;&nbsp;&nbsp;
                                    <br/>                                                                        
                                </td>
                            </tr>
                        </table>
                    </center>

                </h:form>
                <h:form>

                    <p:commandButton onclick="loading();" 
                                     action="/view/CampaignList.xhtml" 
                                     styleClass="button validate" 
                                     id="buttonValidte" value="Volver a  las Lista de Campañas" immediate="true"/>
                </h:form>        
            </ui:define>
        </ui:composition>

    </body>
</html>
