
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">
                <h:form>
                    <center>
                        <h2 align="left">LISTA DE CAMPAÑAS</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                            <tr>
                                <td align="center" colspan="2">
                                    <h:outputText value="#{campaignList.message}" style="color: red"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="left">
                                    <br/>
                                    <p:commandButton styleClass="button validate" 
                                                     id="new" value="Nueva Campaña"
                                                     action="/view/CampaignForm.xhtml?faces-redirect=true"
                                                     immediate="true"/>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%">
                                    <p:dataTable id="campaignsList" value="#{campaignList.campaignsList}" var="row" rows="10"  paginator="true"
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">


                                        <p:column sortBy="#{row.campaignId}">
                                            <f:facet name="header">
                                                <h:outputText value=" ID "/>
                                            </f:facet>
                                            <h:outputText value="#{row.campaignId}"/>
                                        </p:column> 
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value=" DESCRIPCION "/>
                                            </f:facet>
                                            <h:outputText value="#{row.description}"/>
                                        </p:column>  
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="PRIORIDAD"/>
                                            </f:facet>
                                            <h:outputText value="#{row.priority}"/>
                                        </p:column>     
                                        <p:column>
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>
                                            <h:commandLink id="editLink" action="/view/CampaignForm.xhtml" >
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="campaignId" value="#{row.campaignId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{campaignList.deleteCampaign}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="campaignId" value="#{row.campaignId}"/>
                                            </h:commandLink>
                                        </p:column>

                                    </p:dataTable>
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
