
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h2 align="left">GESTIONAR CATEGORIAS</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{categoriaForm.categoriaId}"/>
                            <h:inputHidden value="#{categoriaForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 350px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="categoriaId : " rendered="#{categoriaForm.edit}"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="categoriaId"  size="30"  maxlength="30" rendered="#{categoriaForm.edit}" disabled="true"
                                                                  value="#{categoriaForm.categoria.categoriaId}"/>
                                                </td> 
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Nombre : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="nombre"  size="30"  maxlength="50"
                                                                  value="#{categoriaForm.categoria.nombre}"/>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{categoriaForm.saveCategoria}" styleClass="button validate" id="buttonValidate" value="Guardar"/>

                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{categoriaForm.newCategoria}"  id="buttonNuevo" value="Limpiar"/>
                                                </td> 
                                            </tr>                         

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable var="row" value="#{categoriaForm.listCategoria}" paginator="true" rows="#{categoriaForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{CategoriaForm.rowMaxTable}"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE CATEGORIAS
                                        </f:facet>                                     

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="categoriaID"/>
                                            </f:facet>
                                            <h:outputText value="#{row.categoriaId}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column>



                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{categoriaForm.editCategoria()}" >
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="categoriaId" value="#{row.categoriaId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{categoriaForm.deleteCategoria()}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="categoriaId" value="#{row.categoriaId}"/>
                                            </h:commandLink>
                                        </p:column>

                                    </p:dataTable>                             
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>        
    </body>

</html>
