<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panel style="width: 1170px">

                        <center>
                            <h2 align="left">CONFIGURAR CABECERA PARA :
                                <font color="#ff9900"> #{configCabecera.configuracion.nombre}</font>
                            </h2>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                                <tr>
                                    <td align="center" colspan="2">
                                        <c:if test="#{configCabecera.messages!= null}">
                                            <div  class="ui-messages ui-widget" aria-live="polite" data-global="false" data-summary="data-summary" data-detail="data-detail" data-severity="all,error" data-redisplay="true">
                                                <div class="ui-corner-all #{(configCabecera.messages.type==0)?'ui-messages-info':(configCabecera.messages.type==1)?'ui-messages-warn':(configCabecera.messages.type==2)?'ui-messages-error':'ui-messages-fatal'}">
                                                <a href="#" class="ui-messages-close" onclick="$(this).parent().slideUp();return false;">
                                                    <span class="ui-icon ui-icon-close"/>                                       
                                                </a>
                                                <span class="#{(configCabecera.messages.type==0)?'ui-messages-info-icon':(configCabecera.messages.type==1)?'ui-messages-warn-icon':(configCabecera.messages.type==2)?'ui-messages-error-icon':'ui-messages-fatall-icon'}"></span>
                                                <ul>
                                                    <li>
                                                        <span class="#{(configCabecera.messages.type==0)?'ui-messages-info-detail':(configCabecera.messages.type==1)?'ui-messages-warn-detail':(configCabecera.messages.type==2)?'ui-messages-error-detail':'ui-messages-fatal-detail'}">
                                                            #{configCabecera.messages.message}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div> 
                                            </div>
                                        </c:if>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="left">
                                        <p:panelGrid id="panelConfig" columns="2">
                                            <p:panel header="INFORMACION GENERAL" style="width: 375px; height: 400px;">
                                                <table>
                                                    <tr>
                                                        <td align="left" style="border-width: 0px">
                                                            <h:outputText value="Nombre:"/>
                                                        </td>

                                                        <td align="left" style="border-width: 0px">
                                                            <h:inputText id="Nombre" size="33" maxlength="50" value="#{configCabecera.cabecera.nombre}" label="Nombre" >
                                                            </h:inputText>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" style="border-width: 0px">
                                                            <h:outputText value="Descripción"/>
                                                        </td>

                                                        <td align="left" style="border-width:0px;">
                                                            <p:inputTextarea rows="3" cols="30" style="max-height: 70px;"
                                                                             value="#{configCabecera.cabecera.descripcion}"
                                                                              counter="counterTxtCaracterErroneo" maxlength="161"
                                                                              counterTemplate="{0} caracteres restantes"
                                                                             />
                                                            <h:outputText id="counterTxtCaracterErroneo" /> 

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Unit Types :"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu id="selectUnitType" value="#{configCabecera.selectedUnitType}" style="width: 100%;">
                                                                <f:selectItems value="#{configCabecera.unitTypes}" var="unitType" itemLabel="#{unitType.nombre}" itemValue="#{unitType.unitTypeId}"/>
                                                                <p:ajax event="change" listener="#{configCabecera.onChangeUnitType}" update=":mainForm:pickList"/>
                                                           </p:selectOneMenu>
                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Saldo > 0: "/>
                                                        </td>      

                                                        <td align="left" colspan="2" style="border-width:0px;">
                                                            <p:selectBooleanCheckbox value="#{configCabecera.saldoCalculado}"> </p:selectBooleanCheckbox>
                                                        </td>
                                                    </tr>
                                                    
                                                    
                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Mostrar Siempre: "/>
                                                        </td>      

                                                        <td align="left" colspan="2" style="border-width:0px;">
                                                            <p:selectBooleanCheckbox value="#{configCabecera.visible}"> </p:selectBooleanCheckbox>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Tipo Navegacion :"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu value="#{configCabecera.selTipoNavegacion}" style="width: 100%;">
                                                                <f:selectItem itemLabel="Ninguno" itemValue="NINGUNO" />
                                                                <f:selectItem itemLabel="ON DEMAND" itemValue="ON_DEMAND" />
                                                                <f:selectItem itemLabel="CON MB" itemValue="CON_MB" />
                                                                <f:selectItem itemLabel="TODOS" itemValue="TODOS" />
                                                            </p:selectOneMenu>
                                                        </td>
                                                    </tr>
  
                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Mostrar Whatapp SI/NO: "/>
                                                        </td>      

                                                        <td align="left" colspan="2" style="border-width:0px;">
                                                            <p:selectBooleanCheckbox value="#{configCabecera.whatsappIlimitado}"> </p:selectBooleanCheckbox>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </p:panel>

                                            <p:panel header="BILLETERAS SELECCIONADAS" style="width: 720px; height: 400px">

                                                <p:pickList id="pickList" value="#{configCabecera.billeteraDual}"  effect="clip"
                                                            var="billetera" itemValue="#{billetera}"  itemLabel="#{billetera.nombreComverse}" 
                                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" 
                                                            showCheckbox="true" 
                                                            showTargetControls="true"
                                                            converter="CabeceraConverter">
                                                    <p:column style="width:500px;">
                                                        <h:outputText value="#{billetera.nombreComverse}" />
                                                    </p:column>
                                                </p:pickList>
                                            </p:panel>
                                        
                                        </p:panelGrid> 

                                    </td>

                                </tr>
                                <tr>
                                    <td width="100%" align="left" colspan="2">
                                        <p:commandButton onclick="loading();" action="#{configCabecera.saveConfiguracion()}" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px" icon="ui-icon-disk" styleClass="button validate" id="buttonValidate" value="Guardar" />                                                        
                                         <p:commandButton  action="/view/listConfigForm.xhtml" onclick="loading();"   id="buttonNuevo" value="Cancelar" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px"/>                                        

                                    </td>
                                 </tr>   
                                <tr>
                                    <td width="100%" align="left">
                                        <br></br>
                                        <p:dataTable value="#{configCabecera.listaCabeceras}" var="row" paginator="true" id="cabeceraList"
                                                     rows="#{configCabecera.rowMaxTable}" rowsPerPageTemplate="10,15,#{configCabecera.rowMaxTable}"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     rowIndexVar="rowIndex"
                                                     >                                                                                                                 

                                            <f:facet name="header">  
                                                LISTA DE CONFIGURACIONES PARA CABECERAS
                                            </f:facet>

                                            <p:column width="200">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.nombre}"/>
                                            </p:column> 
                                             
                                            <p:column style="text-align: center;font-size: 10px; white-space: pre-line" width="45">
                                                <f:facet name="header">
                                                    <h:outputText value="ORDENAR"/>
                                                </f:facet>                                    
                                                <p:commandLink id="UpLink" actionListener="#{configCabecera.upPosicion}" update=":mainForm:cabeceraList">
                                                    <h:graphicImage id="UpImage"  alt="Subir" url="/resources/icons/subir.png" styleClass="icon"/>
                                                    <f:param name="posCabecera" value="#{rowIndex}"/>                                       
                                                </p:commandLink>
                                                <p:spacer width="10"></p:spacer>
                                                <p:commandLink id="DownLink" actionListener="#{configCabecera.downPosicion}" update=":mainForm:cabeceraList" >                                                   
                                                    <h:graphicImage id="DownImage" alt="Bajar" url="/resources/icons/bajar.png" styleClass="icon" />                                     
                                                    <f:param name="posCabecera" value="#{rowIndex}"/>                                       
                                                </p:commandLink>
                                            </p:column> 
                                            <p:column width="80">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SIEMPRE"/>
                                                </f:facet>
                                                <center>
                                                    <h:graphicImage rendered="#{configCabecera.convertStringToBoolean(row.visible)}" alt="Modificar" url="/resources/icons/on.png" styleClass="icon"/>
                                                    <h:graphicImage rendered="#{!configCabecera.convertStringToBoolean(row.visible)}" alt="Modificar" url="/resources/icons/off.png" styleClass="icon"/>
                                                </center>
                                            </p:column> 
                                            
                                            <p:column width="70">
                                                <f:facet name="header">
                                                    <h:outputText value="SALDO > 0"/>
                                                </f:facet>
                                                <center>
                                                    <h:graphicImage rendered="#{configCabecera.convertStringToBoolean(row.saldoCalculado)}" alt="Modificar" url="/resources/icons/on.png" styleClass="icon"/>
                                                    <h:graphicImage rendered="#{!configCabecera.convertStringToBoolean(row.saldoCalculado)}" alt="Modificar" url="/resources/icons/off.png" styleClass="icon"/>
                                                </center>
                                            </p:column> 
                                            

                                            <p:column width="100" >
                                                <f:facet name="header">
                                                    <h:outputText value="NAVEGACION"/>
                                                </f:facet>
                                                <center>
                                                    <h:outputText value="#{row.tipoNavegacion}"  />
                                                </center>
                                            </p:column> 

                                            <p:column width="350">
                                                <f:facet name="header">
                                                    <h:outputText value="BILLETERAS"/>
                                                </f:facet>
                                                <h:outputText value="#{row.strBilleteras}" escape="false"/>
                                            </p:column>

                                            <p:column width="60" style="text-align: center;">
                                                <f:facet name="header">
                                                    <h:outputText value="ACCIONES"/>
                                                </f:facet>

                                                <h:commandLink  id="editLink" actionListener="#{configCabecera.selectConfiguracion()}" >
                                                    <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/process-info.png" styleClass="icon" title="Modificar" style="padding-right: 3px;"/>
                                                    <f:param name="cabeceraId" value="#{row.cabeceraId}"/>
                                                </h:commandLink>

                                                <h:commandLink id="deleteLink" actionListener="#{configCabecera.eliminarConfiguracion(row)}">                                                   
                                                    <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/process_remove.png" styleClass="icon" title="Eliminar" style="padding-right: 3px;" />
                                                    <f:param name="cabeceraId" value="#{row.cabeceraId}"/>
                                                </h:commandLink>

                                            </p:column>
                                        </p:dataTable>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" align="left" colspan="2">
                                        <p:commandButton  action="#{configCabecera.savePosicionesCabecera}" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px" icon="ui-icon-disk" styleClass="button validate" id="btnSavePosicion" value="Guardar Orden" />  
                                    </td>

                                </tr> 
                            </table>
                        </center>
                        
                       </p:panel>


                </h:form>      
            </ui:define>
        </ui:composition>        
    </body>

</html>
