<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/configtemplate.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <p:panel style="width: 1400px;">
                        <center>
                            <h2 align="left">GESTIONAR CONFIGURACION DE BILLETERAS #{configForm.textInfo}</h2>

                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                                <tr>
                                    <td align="center" colspan="2">
                                        <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                    </td>
                                </tr>

                                <tr>
                                    <td width="100%" align="left">
                                        <p:panelGrid id="panelConfig" columns="3">
                                            <p:panel  header="INFORMACION GENERAL" style="width: 490px; height: 260px;">
                                                <table>                            			
                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Nombre:"/>
                                                        </td>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:inputText id="Nombre" size="30" maxlength="30" value="#{configForm.myConfig.nombre}" required="false" label="Nombre" validatorMessage="Los Caracteres no son Validos..">
                                                                <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                            </h:inputText>
                                                            <p:message for="Nombre" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Descripción :"/>
                                                        </td>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:inputText id="Descripcion" size="30" maxlength="30" value="#{configForm.myConfig.descripcion}" required="false" label="Descripcion" validatorMessage="Los Caracteres no son Validos..">
                                                                <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                            </h:inputText>
                                                            <p:message for="Descripcion" />
                                                        </td>
                                                    </tr> 

                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Acumulado :"/>
                                                        </td>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:inputText id="acumulado" size="30" maxlength="30" value="#{configForm.myConfig.nombreAcumulado}" required="false" label="Descripcion" validatorMessage="Los Caracteres no son Validos..">
                                                                <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                            </h:inputText>
                                                            <p:message for="acumulado" />
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText  value="Saludo Inicial :"/>
                                                        </td>
                                                        <td align="left" style="border-width:0px;">
                                                            <p:inputTextarea rows="3" cols="30"
                                                                             value="#{configForm.myConfig.saludoInicial}" 
                                                                             counter="counterTxtCaracterErroneo" maxlength="60"
                                                                             counterTemplate="{0} caracteres restantes" />

                                                        </td>

                                                        <td align="left" style="border-width:0px;">
                                                            <h:outputText id="counterTxtCaracterErroneo" /> 
                                                        </td> 
                                                    </tr>
                                                    <!--  <tr>
                                                                                                            <td align="left" style="border-width:0px;">
                                                                                                                <h:outputText  value="Mostrar DPI: "/>
                                                                                                            </td>      
                                                    
                                                                                                            <td align="left" colspan="2" style="border-width:0px;">
                                                                                                                <p:selectBooleanCheckbox value="#{configForm.myConfig.mostrarDpi}">
                                                    
                                                                                                                </p:selectBooleanCheckbox>
                                                                                                            </td>
                                                                                                        </tr>  
                                                    
                                                                                                        <tr>
                                                                                                            <td align="left" style="border-width:0px;">
                                                                                                                <h:outputText  value="Mostrar Acumulados Megas: "/>
                                                                                                            </td>      
                                                    
                                                                                                            <td align="left" colspan="2" style="border-width:0px;">
                                                                                                                <p:selectBooleanCheckbox value="#{configForm.myConfig.mostrarAcumuladosMegas}">
                                                    
                                                                                                                </p:selectBooleanCheckbox>
                                                                                                            </td>
                                                                                                        </tr>   -->
                                                    <tr>
                                                        <td style="border-width:0px; width: 180px;" align="left" >
                                                            <h:outputText  value="Mostrar Billeteras No Configuradas Con Saldo > 0: "/>
                                                        </td>      

                                                        <td align="left" colspan="2"  style="border-width:0px;">
                                                            <p:selectBooleanCheckbox value="#{configForm.myConfig.mostrarBilleterasNoConfig}">

                                                            </p:selectBooleanCheckbox>
                                                        </td>
                                                    </tr>


                                                    <!-- MOSTRAR SIEMPRE-->
                                                    <tr>
                                                        <td style="border-width:0px; width: 180px;" align="left" >
                                                            <h:outputText  value="#{configForm.MOSTRAR_SIEMPRE}: "/>
                                                        </td>      

                                                        <td align="left" colspan="2"  style="border-width:0px;">
                                                            <p:selectBooleanCheckbox value="#{configForm.myConfig.mostrarSiempre}">

                                                            </p:selectBooleanCheckbox>
                                                        </td>
                                                    </tr>

                                                </table>
                                            </p:panel>

                                            <p:panel  header="CONFIGURACION" style="height: 260px; width: 575px;">

                                                <h:panelGrid columns="3">
                                                    <p:panel  header="Sin Configuracion" style="height: 210px; width: 235px;">

                                                        <table>
                                                            <tr>
                                                                <td>
                                                                    <p:column style="width: 20%"><h:outputLabel value="Origen:"/></p:column>                                                                               
                                                                </td>
                                                                <td>                                                                           
                                                                    <p:column style="width: 80%"><p:selectOneMenu  value="#{configForm.selectItemOrigen}" style="width: 170px;" >
                                                                            <f:attribute name="optionClasses" value="option1, option2" />
                                                                            <f:selectItems value="#{configForm.selectItemsOrigen}" />
                                                                        </p:selectOneMenu> </p:column>
                                                                </td>                                                                                                                                                                                                                 
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <p:column><h:outputLabel value="Corto:"/></p:column>     
                                                                </td>                                                                                                                                             
                                                                <td>
                                                                    <p:column><p:selectOneMenu value="#{configForm.selectItemCorto}" style="width: 170px;">
                                                                            <f:attribute name="optionClasses" value="option1, option2" />
                                                                            <f:selectItems value="#{configForm.selectItemsCorto}" />
                                                                        </p:selectOneMenu> </p:column>  
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <p:column><h:outputLabel value="Cos:"/></p:column>     
                                                                </td>
                                                                <td>
                                                                    <p:column><p:selectOneMenu  value="#{configForm.selectItemCos}" style="width: 170px;">
                                                                            <f:attribute name="optionClasses" value="option1, option2" />
                                                                            <f:selectItems value="#{configForm.selectItemsCos}" />
                                                                        </p:selectOneMenu> </p:column>   
                                                                </td>
                                                            </tr>                                                                                                                                      
                                                        </table>


                                                    </p:panel>

                                                    <h:panelGrid columns="1">
                                                        <p:commandButton icon="ui-icon-triangle-1-e" style="width: 24px; height: 24px;" value="" actionListener="#{configForm.addConfiguracion()}" update="scroll" />
                                                        <p:commandButton icon="ui-icon-triangle-1-w" style="width: 24px; height: 24px;" value="" actionListener="#{configForm.quitConfiguracion()}" update="scroll" />
                                                        <p:commandButton icon="ui-icon-arrowthick-1-n" style="width: 24px; height: 24px;" value="" actionListener="#{configForm.up()}" update="scroll" />
                                                        <p:commandButton icon="ui-icon-arrowthick-1-s" style="width: 24px; height: 24px;" value="" actionListener="#{configForm.down()}" update="scroll" />
                                                    </h:panelGrid>

                                                    <p:panel  header="Con esta Configuracion" style="height: 210px; width: 270px;">

                                                        <p:selectOneListbox id="scroll" value="#{configForm.selectedOcc}" style="height: 170px; width: 100%;" >  
                                                            <f:selectItems value="#{configForm.listOcc}" var="occ" itemLabel="#{occ.label}" itemValue="#{occ.id}" />  
                                                        </p:selectOneListbox>  

                                                    </p:panel>

                                                </h:panelGrid>


                                            </p:panel>

                                            <p:panel id="pnLinea" header="ADICIONAR LÍNEA">
                                                <p:dataTable id="tblLinea" value="#{configForm.listaLineaExtra}"
                                                             var="simp" style="height: 225px; width: 260px;">
                                                    <f:facet name="header">  
                                                        <h:panelGrid columns="2"  cellspacing="1"
                                                                     columnClasses="styleHeadWalletsConfig,styleHeadWalletsConfig">
                                                            <h:outputLabel value="Lista de Líneas" />
                                                            <p:commandButton icon="ui-icon-plusthick" 
                                                                             onclick="dlgAddLinea.show()"
                                                                             style="width: 20px; height: 20px;" 
                                                                             update=":formAddLinea:inpLinea"/>
                                                        </h:panelGrid>
                                                    </f:facet>

                                                    <p:column >
                                                        <f:facet name="header">
                                                            <h:outputText value="Valor"/>                                                            
                                                        </f:facet>
                                                        <h:outputText value="#{simp}"/>                                                                                                                                                                       
                                                    </p:column> 

                                                    <p:column style="text-align: center;">
                                                        <f:facet name="header">
                                                            <h:outputText value="Acción"/>
                                                        </f:facet>
                                                        <p:commandButton value="delete" actionListener="#{configForm.removerLineaExtra(simp)}"
                                                                         update=":mainForm:pnLinea"/>

                                                    </p:column>
                                                </p:dataTable>
                                            </p:panel>

                                        </p:panelGrid>    
                                    </td>
                                </tr>  

                                <tr>
                                    <td width="100%" align="left">
                                        <br></br><br></br>
                                        <p:commandButton  id="showDialogButton" icon="ui-icon-plusthick"
                                                          type="button" value="Add Billetera" onclick="dlg.show()" />

                                        <p:dialog header="Adicionando Billetera" widgetVar="dlg" resizable="false">

                                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                                <h:outputLabel  value="Texto:" />

                                                <h:selectOneMenu id="selectItemBilletera" value="#{configForm.selectedItemBilletera}">
                                                    <f:selectItems value="#{configForm.selectItemsBillera}" />
                                                </h:selectOneMenu>
                                            </h:panelGrid>

                                            <p:commandButton id="submitButton" actionListener="#{configForm.addBilleteraSimple()}" value="Aceptar" update="dataTableBilleterasSimples,selectItemBilletera" oncomplete="dlg.hide();"/>

                                        </p:dialog>
                                        <p:dataTable id="dataTableBilleterasSimples" value="#{configForm.billeteraList}" var="row"  paginator="true" rows="#{configForm.rowMaxTable}"  
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,20,#{configForm.rowMaxTable}"
                                                     >
                                            <f:facet name="header">  
                                                Configuración de BILLETERAS
                                            </f:facet>

                                            <p:column width="100" style="font-size: 10px;">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.nombreComverse}"/>
                                            </p:column> 
                                            <p:column width="120" style="font-size: 10px;; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE COMERCIAL"/>
                                                </f:facet>
                                                <h:inputText  size="30" maxlength="30" value="#{row.configBilletera_nombreComercial}" required="false" label="Billetera" validatorMessage="El nombre Comercial, de la Billetera Simple #{row.nombreComverse} presenta Caracteres no Validos..">
                                                    <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                </h:inputText>
                                            </p:column>
                                            <p:column style="text-align: center;font-size: 10px; white-space: pre-line" width="45">
                                                <f:facet name="header">
                                                    <h:outputText value="ORDENAR"/>
                                                </f:facet>                                    
                                                <h:commandLink id="UpLink" action="#{configForm.upBilletera()}" disabled="false">
                                                    <h:graphicImage id="UpImage"  alt="Subir" url="/resources/icons/subir.png" styleClass="icon"/>
                                                    <f:param name="posBilletera" value="#{row.configBilletera_posicion}"/>                                       
                                                </h:commandLink>
                                                <p:spacer width="10"></p:spacer>
                                                <h:commandLink id="DownLink" action="#{configForm.bajarBilletera()}" disabled="false">                                                   
                                                    <h:graphicImage id="DownImage" alt="Bajar" url="/resources/icons/bajar.png" styleClass="icon" />                                     
                                                    <f:param name="posBilletera" value="#{row.configBilletera_posicion}"/>                                       
                                                </h:commandLink>
                                            </p:column>
                                            <p:column width="92" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SIEMPRE"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox  value="#{row.configBilletera_mostrar_siempre}" >                                                
                                                    <p:ajax update="viewsaldo,viewsaldocero,viewsaldonegativo,noviewexpiro" ></p:ajax>    
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="114" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SI SALDO>0"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewsaldo" disabled="#{row.configBilletera_mostrar_siempre}" value="#{row.configBilletera_mostrar_saldo_mayor_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="110" style="font-size: 10px; text-align: center;  white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText  value="MOSTRAR SI SALDO 0"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewsaldocero" disabled="#{row.configBilletera_mostrar_siempre}" value="#{row.configBilletera_mostrar_saldo_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="155" style="font-size: 10px; text-align: center; white-space: pre-line" >
                                                <f:facet name="header"  >
                                                    <h:outputText value="MOSTRAR SI SALDO NEGATIVO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewsaldonegativo" disabled="#{row.configBilletera_mostrar_siempre}" value="#{row.configBilletera_mostrar_saldo_menor_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="NO MOSTRAR SI EXPIRO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="noviewexpiro" disabled="#{row.configBilletera_mostrar_siempre}"  value="#{row.configBilletera_no_mostrar_saldo_expirado}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR VIGENCIA"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewvigenci"  value="#{row.configBilletera_mostrar_vigencia}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="VER SALDO EXPIRADO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewsaldoexpirado"  value="#{row.configBilletera_mostrar_saldo_expirado}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>

                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="VER 2da FECHA EXP"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewSegFechExp"  value="#{row.mostrarSegundaFechaExp}">
                                                    <p:ajax update="viewHoraSegFech,viewFormtHoraPriFech" ></p:ajax> 
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="130" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="VER HORA 2da FECHA EXP"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewHoraSegFech"  value="#{row.mostrarHoraSegundaFechaExp}" disabled="#{!row.mostrarSegundaFechaExp}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="125" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">  
                                                    <h:outputText value="APLICAR FORMATO HORA 2da FECHA"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="viewFormtHoraPriFech"  value="#{row.asumirFormatoHoraPrimeraFecha}" disabled="#{!row.mostrarSegundaFechaExp}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>

                                            <p:column width="50" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="ACCIONES"/>
                                                </f:facet>
                                                <h:commandLink id="deleteLink" action="#{configForm.delBilleteraSimple()}" >                                                   
                                                    <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete2.png" styleClass="icon" />
                                                    <f:param name="posBilletera" value="#{row.configBilletera_posicion}"/>                                       
                                                </h:commandLink>
                                            </p:column>
                                        </p:dataTable>                          
                                    </td> 
                                </tr>

                                <tr>
                                    <td width="100%" align="left" >
                                        <br></br><br></br>
                                        <p:commandButton  id="showDialogGrupoButton" icon="ui-icon-plusthick" type="button" value="Add Billetera Agrupada" onclick="dlgGrupo.show()" />

                                        <p:dialog header="Adicionando Billetera Agrupada" widgetVar="dlgGrupo" resizable="false">

                                            <h:panelGrid columns="2" style="margin-bottom:10px">
                                                <h:outputLabel  value="Texto:" />

                                                <h:selectOneMenu id="selectItemBilleteraGrupo" value="#{configForm.selectedItemBilleteraGrupo}">
                                                    <f:selectItems value="#{configForm.selectItemsBilleraGrupo}" />
                                                </h:selectOneMenu>
                                            </h:panelGrid>

                                            <p:commandButton id="submitButtonGrupo" actionListener="#{configForm.addBilleteraGrupo()}" value="Aceptar" update="dataTableBilleterasGrupo,selectItemBilleteraGrupo" oncomplete="dlgGrupo.hide();"/>
                                        </p:dialog>
                                        <p:dataTable id="dataTableBilleterasGrupo" value="#{configForm.composicionBilleteraList}" var="row"  paginator="true" rows="#{configForm.rowMaxTable}" 
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{configForm.rowMaxTable}"
                                                     >
                                            <f:facet name="header">  
                                                Configuración de BILLETERAS AGRUPADAS
                                            </f:facet>


                                            <p:column width="100" style="font-size: 10px;">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.nombre}"/>

                                            </p:column> 
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE COMERCIAL"/>
                                                </f:facet>
                                                <h:inputText size="30" maxlength="30" value="#{row.config_nombreComercial}" required="false" label="Billetera" validatorMessage="El nombre Comercial, de la Billetera Agrupada #{row.nombre} presenta Caracteres no Validos..">
                                                    <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                </h:inputText>
                                            </p:column>
                                            <p:column style="text-align: center;font-size: 10px; white-space: pre-line" width="45">
                                                <f:facet name="header">
                                                    <h:outputText value="ORDENAR"/>
                                                </f:facet>

                                                <h:commandLink id="UpLink" action="#{configForm.subirCompBilletera()}" disabled="false">
                                                    <h:graphicImage id="UpImage"  alt="Subir" url="/resources/icons/subir.png" styleClass="icon"/>
                                                    <f:param name="posCompBilletera" value="#{row.config_posicion}"/>                                       
                                                </h:commandLink>
                                                <p:spacer width="10"></p:spacer>
                                                <h:commandLink id="DownLink" action="#{configForm.bajarCompBilletera()}" disabled="false">                                                   
                                                    <h:graphicImage id="DownImage" alt="Bajar" url="/resources/icons/bajar.png" styleClass="icon" />                                     
                                                    <f:param name="posCompBilletera" value="#{row.config_posicion}"/>                                       
                                                </h:commandLink>
                                            </p:column>
                                            <p:column width="92" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SIEMPRE"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox onchange="" value="#{row.config_mostrar_siempre}">                                                
                                                    <p:ajax update="Grupoviewsaldo,Grupoviewsaldocero,Grupoviewsaldonegativo,GrupoNoviewexpirado" ></p:ajax>  
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="160" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SI SALDO>0"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="Grupoviewsaldo" disabled="#{row.config_mostrar_siempre}" value="#{row.config_mostrar_saldo_mayor_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="121" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SI SALDO 0"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="Grupoviewsaldocero" disabled="#{row.config_mostrar_siempre}" value="#{row.config_mostrar_saldo_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="165" style="font-size: 10px; white-space: pre-line" >
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SI SALDO NEGATIVO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="Grupoviewsaldonegativo" disabled="#{row.config_mostrar_siempre}" value="#{row.config_mostrar_saldo_menor_cero}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="NO MOSTRAR SI EXPIRO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoNoviewexpirado" disabled="#{row.config_mostrar_vigencia}" value="#{row.config_no_mostrar_saldo_expirado}">     
                                                    <p:ajax process="@this"/>

                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="120" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR VIGENCIA"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoViewVigency"  value="#{row.config_mostrar_vigencia}">
                                                    <p:ajax update="GrupoNoviewexpirado" />
                                                </p:selectBooleanCheckbox>
                                            </p:column> 
                                            <p:column width="120"  style="font-size: 10px; white-space: pre-line" >
                                                <f:facet name="header">
                                                    <h:outputText value="VER SALDO EXPIRADO"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoViewSaldoExpirado"  value="#{row.config_mostrar_saldo_expirado}" style="vertical-align: middle;">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>

                                            <p:column width="120" style="font-size: 10px; white-space: pre-line" >
                                                <f:facet name="header">
                                                    <h:outputText value="VER 2da FECHA EXP"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoSegFechExp"  value="#{row.mostrarSegundaFechaExp}"> 
                                                    <p:ajax update="GrupoHoraSegFech,GrupoFormtHoraPriFech" ></p:ajax>
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="130" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="VER HORA 2da FECHA EXP"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoHoraSegFech"  value="#{row.mostrarHoraSegundaFechaExp}" disabled="#{!row.mostrarSegundaFechaExp}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>
                                            <p:column width="125" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="APLICAR FORMATO HORA 2da FECHA"/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox id="GrupoFormtHoraPriFech"  value="#{row.asumirFormatoHoraPrimeraFecha}" disabled="#{!row.mostrarSegundaFechaExp}">                                                
                                                </p:selectBooleanCheckbox>
                                            </p:column>

                                            <p:column width="50" style="font-size: 10px; white-space: pre-line">
                                                <f:facet name="header">
                                                    <h:outputText value="ACCIONES"/>
                                                </f:facet>
                                                <h:commandLink id="deleteLink" action="#{configForm.delBilleteraComp()}" >                                                   
                                                    <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete2.png" styleClass="icon" />
                                                    <f:param name="posCompBilletera" value="#{row.config_posicion}"/>                                       
                                                </h:commandLink>
                                            </p:column>
                                        </p:dataTable>                          
                                    </td> 
                                </tr>                        

                            </table>

                        </center>
                    </p:panel>
                    <p:commandButton onclick="loading();" action="#{configForm.saveConfig()}" icon="ui-icon-disk" styleClass="button validate" id="buttonValidate" value="Guardar" />                
                    <p:commandButton  action="/view/listConfigForm.xhtml" onclick="loading();"   id="buttonNuevo" value="Cancelar"/>
                </h:form>

                <p:dialog header="Adicionando Línea" widgetVar="dlgAddLinea" resizable="false" > 

                    <h:form id="formAddLinea">
                        <h:panelGrid columns="2" style="margin-bottom:10px">
                            <h:outputLabel  for ="Texto" value="Línea:" />

                            <h:inputText id="inpLinea" size="30" maxlength="50" value="#{configForm.lineaExtra}" />                              

                        </h:panelGrid>
                        <p:commandButton id="btnAddSimp" actionListener="#{configForm.addLineaExtra()}"
                                         value="Aceptar"  oncomplete="dlgAddLinea.hide();"
                                         update=":mainForm:pnLinea"/>  
                    </h:form> 

                </p:dialog>

            </ui:define>
        </ui:composition>

    </body>

</html>

