<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


             <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panel style="width: 100%;">
                        <center>
                            <h2 align="left">CONFIGURACION DE BILLETERAS ACUMULADO:
                                <font color="#ff9900"> #{configAcumuladoForm.config.nombre}</font>
                            </h2>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                                <tr>
                                    <td align="center" colspan="2">
                                        <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" align="left">
                                        <br></br>
                                        <p:dataTable id="dataTableBilleterasSimples" var="row"
                                                     value="#{configAcumuladoForm.billeteraAcumuladoList}" 
                                                     paginator="true" rows="#{configAcumuladoForm.rowMaxTable}"  
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                     rowsPerPageTemplate="10,20,#{configAcumuladoForm.rowMaxTable}"
                                                     editable="true" editMode="cell"
                                                     widgetVar="varTable"
                                                     emptyMessage="No se encontraron Datos !!"
                                                     filteredValue="#{configAcumuladoForm.billeteraAcumuladoListFilter}"
                                                     >
                                            <p:ajax event="filter" oncomplete="cellBackgroundAcumulado();" />
                                            <p:column  style="font-size: 10px;"
                                                       filterBy="#{row.billetera.nombreComverse}"
                                                       filterMatchMode="contains" 
                                                       >
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.billetera.nombreComverse}"/>
                                            </p:column> 
                                            
                                            <p:column    style="font-size: 10px;; white-space: pre-line;" >
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE COMERCIAL"/>
                                                </f:facet>
                                                
                                                <p:cellEditor >
                                                    <f:facet name="output"><h:outputText value="#{row.configAcumulado.nombreComercial}" /></f:facet>
                                                    <f:facet name="input">                                                                                                                
                                                        <p:inputText  
                                                            maxlength="50" 
                                                            style="width:100%"
                                                            size="30"
                                                            validatorMessage="El Acumulado Presenta Caracteres no Validos.."
                                                            value="#{row.configAcumulado.nombreComercial}">
                                                             <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                        </p:inputText>  

                                                    </f:facet>
                                                </p:cellEditor>
                                            </p:column>
                                            <p:column   style="font-size: 10px;; white-space: pre-line;">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE ACUMULADO"/>
                                                </f:facet>
                                                 <p:cellEditor rendered="#{row.billetera.acumulado!=null and row.billetera.acumulado=='t'}" id="nombreAcumulado">  
                                                            <f:facet name="output">
                                                                <h:outputText value="#{row.configAcumulado.nombreAcumulado}" /></f:facet>
                                                            <f:facet name="input">
                                                                <p:inputText  
                                                                    maxlength="50" 
                                                                    style="width:100%"
                                                                    size="30"
                                                                    required="false" label="Billetera" 
                                                                    validatorMessage="El Acumulado Presenta Caracteres no Validos.."
                                                                    value="#{row.configAcumulado.nombreAcumulado}">
                                                                    <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                                </p:inputText>  
                                                            </f:facet>
                                                  </p:cellEditor>
                                                 <h:outputText  value="#{row.configAcumulado.nombreAcumulado}"  rendered="#{row.billetera.acumulado==null or row.billetera.acumulado=='f'}" />
                                            </p:column>
                                            <p:column   style="font-size: 10px;; white-space: pre-line;text-align: center; " width="15%">
                                                <f:facet name="header">
                                                    <h:outputText value="MOSTRAR SEGUNDA "/><br/><h:outputText value=" FECHA EXP."/>
                                                </f:facet>
                                                <p:selectBooleanCheckbox value="#{row.configAcumulado.segundaFechaExp}" rendered="#{row.billetera.acumulado!=null and row.billetera.acumulado=='t'}">  
                                                    </p:selectBooleanCheckbox>    
                                            </p:column>   
                                        </p:dataTable>                          
                                    </td> 
                                </tr>
                            </table>
                        </center>
                        <script >
                            cellBackgroundAcumulado();
                            function cellBackgroundAcumulado(){
                                $("td[role='gridcell']:has(> .ui-cell-editor[id$='nombreAcumulado'])").addClass("ui-datatable-cell-active");
                            }
                            
                            
                        </script>
                    </p:panel>
                    <br></br>
                    <p:commandButton  actionListener="#{configAcumuladoForm.saveConfig}" 
                                      style="margin-right:10px;" ajax="false" icon="ui-icon-disk"
                                      styleClass="button validate" id="buttonValidate" value="Guardar"
                                      oncomplete="varTable.clearFilters();"/>                
                   
                    <p:commandButton  action="#{configAcumuladoForm.cleanValues()}" 
                                      ajax="false"
                                      id="buttonCancelar" value="Cancelar"                                                                            
                                      oncomplete="varTable.clearFilters();"
                                      />
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

