<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">
                <h:form id="mainForm">
                    <p:panel style="width: 1170px">

                        <center>
                            <h2 align="left">CONFIGURAR MENU PARA :
                                <font color="#ff9900"> #{configMenus.configuracion.nombre}</font>
                            </h2>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                                <tr>
                                    <td align="center" colspan="2">
                                          <c:if test="#{configMenus.messages!= null}">
                                            <div  class="ui-messages ui-widget" aria-live="polite" data-global="false" data-summary="data-summary" data-detail="data-detail" data-severity="all,error" data-redisplay="true">
                                                <div class="ui-corner-all #{(configMenus.messages.type==0)?'ui-messages-info':(configMenus.messages.type==1)?'ui-messages-warn':(configMenus.messages.type==2)?'ui-messages-error':'ui-messages-fatal'}">
                                                <a href="#" class="ui-messages-close" onclick="$(this).parent().slideUp();return false;">
                                                    <span class="ui-icon ui-icon-close"/>                                       
                                                </a>
                                                <span class="#{(configMenus.messages.type==0)?'ui-messages-info-icon':(configMenus.messages.type==1)?'ui-messages-warn-icon':(configMenus.messages.type==2)?'ui-messages-error-icon':'ui-messages-fatall-icon'}"></span>
                                                <ul>
                                                    <li>
                                                        <span class="#{(configMenus.messages.type==0)?'ui-messages-info-detail':(configMenus.messages.type==1)?'ui-messages-warn-detail':(configMenus.messages.type==2)?'ui-messages-error-detail':'ui-messages-fatal-detail'}">
                                                            #{configMenus.messages.message}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div> 
                                            </div>
                                        </c:if>
                                    </td>
                                </tr>

                                <tr>
                                    <td  align="left">
                                        <p:panelGrid id="panelConfig" columns="2">
                                            <p:panel header="INFORMACION GENERAL" style="width: 375px; height: 570px;">

                                                <table>

                                                    <tr> 
                                                        <td align="left">
                                                            <h:outputText  value="Nombre : "/>
                                                        </td>
                                                        <td align="left">
                                                            <h:inputText  id="nombre"  size="30"  maxlength="50"
                                                                          value="#{configMenus.menu.nombre}" label="nombre">  
                                                            </h:inputText>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Nivel :"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu id="selectMenuNivel" value="#{configMenus.selNivel}" style="width: 100%;">
                                                                <f:selectItems value="#{configMenus.selectItemsNivel}" />
                   
                                                                <p:ajax event="change" listener="#{configMenus.onChangeComboNivel}"  update=":mainForm:selectMenuInformacion :mainForm:pickList :mainForm:selectMenuPadre :mainForm:selectMenuPadreLabel  :mainForm:selectMenuTieneHijosLabel :mainForm:selectMenuTieneHijos" />
                                                            </p:selectOneMenu>
                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Padre :" id="selectMenuPadreLabel" style="width: 100%;display:#{(configMenus.selNivel=='1')?'none':'block'}"/>
                                                        </td>

                                                        <td align="left">
                                                            <p:selectOneMenu id="selectMenuPadre" value="#{configMenus.selPadre}"  style="width: 100%;display:#{(configMenus.selNivel=='1')?'none':'block'}">
                                                                <f:selectItems value="#{configMenus.selectItemsPadre}"  />
                                                            </p:selectOneMenu>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Tiene Hijos:" id="selectMenuTieneHijosLabel" style="width: 100%;display:#{(configMenus.selNivel=='2')?'none':'block'}"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectBooleanCheckbox value="#{configMenus.tieneHijos}" id="selectMenuTieneHijos" style="width: 100%;display:#{(configMenus.selNivel=='2')?'none':'block'}" >
                                                                                     
                                                                <p:ajax event="change"  listener="#{configMenus.onChangeTieneHijos}"  
                                                                        update=":mainForm:selectMenuInformacion :mainForm:pickList :mainForm:idTieneBilletera :mainForm:idTieneBilleteraLabel :mainForm:selectUnitType :mainForm:selectUnitTypeLabel" />
                                                            </p:selectBooleanCheckbox>                                       

                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText id="idTieneBilleteraLabel" value="Tiene Billetera:"
                                                                          style="width: 100%;display:#{(configMenus.selNivel=='1' and configMenus.tieneHijos==true)?'none':'block'}"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectBooleanCheckbox id="idTieneBilletera" value="#{configMenus.tieneBillletera}"
                                                                                     style="width: 100%;display:#{(configMenus.selNivel=='1' and configMenus.tieneHijos==true)?'none':'block'}">  
                                                                <p:ajax event="change" listener="#{configMenus.onChangeTieneBilletera}" 
                                                                        update=":mainForm:pickList :mainForm:selectMenuInformacion :mainForm:selectUnitType :mainForm:selectUnitTypeLabel" />
                                                            </p:selectBooleanCheckbox>
                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Información :"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu id="selectMenuInformacion" value="#{configMenus.selInformacion}" style="width: 100%;">
                                                                <f:selectItems value="#{configMenus.selectItemsInformacion}" />
                                                                <p:ajax event="change" listener="#{configMenus.onChangeComboInformacion}"  update=":mainForm:pickList" />
                                                            </p:selectOneMenu>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                    <td align="left">
                                                        <h:outputText value="Unit Type:" id="selectUnitTypeLabel" style="width: 100%;display:#{not(configMenus.tieneBillletera)?'none':'block'}"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu id="selectUnitType" value="#{configMenus.selectedUnitType}" style="width: 100%;display:#{not(configMenus.tieneBillletera)?'none':'block'}">
                                                                <f:selectItem itemLabel="Ninguno"/>
                                                                <f:selectItems value="#{configMenus.unitTypes}" var="unitType" itemLabel="#{unitType.nombre}" itemValue="#{unitType.unitTypeId}"/>
                                                                <p:ajax event="change" listener="#{configMenus.onChangeUnitType}" update=":mainForm:pickList"/>
                                                           </p:selectOneMenu>
                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Mostrar > 0 Vigente:"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectBooleanCheckbox value="#{configMenus.mostrarMayorQueCero}" >  

                                                            </p:selectBooleanCheckbox>                                       

                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Mostrar > 0 Acumulado:"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectBooleanCheckbox value="#{configMenus.mostrarMayorQueCeroAcumulado}" >  

                                                            </p:selectBooleanCheckbox>                                       

                                                        </td>   
                                                    </tr>
                                                    <tr>
                                                        <tr>
                                                            <td align="left">
                                                                <h:outputText value="Mostrar Siempre:"/>
                                                            </td>
                                                            <td align="left">
                                                                <p:selectBooleanCheckbox value="#{configMenus.visible}" >  

                                                                </p:selectBooleanCheckbox>                                       

                                                            </td>   
                                                        </tr> 

                                                    </tr>
                                                    <tr>
                                                        <td align="left">
                                                            <h:outputText value="Canal :"/>
                                                        </td>
                                                        <td align="left">
                                                            <p:selectOneMenu value="#{configMenus.selCanal}" style="width: 100%;">
                                                                <f:selectItem itemLabel="Ninguno" itemValue="NINGUNO" />
                                                                <f:selectItem itemLabel="USSD" itemValue="USSD" />
                                                                <f:selectItem itemLabel="SMS" itemValue="SMS" />
                                                                <f:selectItem itemLabel="TODOS" itemValue="TODOS" />
                                                            </p:selectOneMenu>
                                                        </td>
                                                    </tr>


                                                    <tr> 
                                                        <td align="left">
                                                            <h:outputText  value="Descripcion : "/>
                                                        </td>
                                                        <td align="left">
                                                            <p:inputTextarea rows="3" cols="30" id="descripcion" style="max-height: 70px;"
                                                                             value="#{configMenus.menu.descripcion}"
                                                                              counter="counterTxtCaracterErroneo" maxlength="161"
                                                                              counterTemplate="{0} caracteres restantes"
                                                                             />
                                                            <h:outputText id="counterTxtCaracterErroneo" /> 
                                                        </td>
                                                    </tr>
                                                    

                                                </table>

                                            </p:panel>

                                            <p:panel header="BILLETERAS SELECCIONADAS" style="width: 720px; height: 570px">

                                                <p:pickList id="pickList" value="#{configMenus.billeteraDual}"  effect="clip" disabled="#{configMenus.disabledPickList}"
                                                            var="billetera" itemValue="#{billetera}"  itemLabel="#{billetera.nombreComverse}" 
                                                            showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains" 
                                                            showCheckbox="true" 
                                                            showTargetControls="true"
                                                            converter="CabeceraConverter">
                                                    <p:column style="width:500px;">
                                                        <h:outputText value="#{billetera.nombreComverse}" />
                                                    </p:column>
                                                </p:pickList>
                                            </p:panel>



                                        </p:panelGrid> 

                                    </td>

                                </tr>
                                <tr>
                                    <td width="100%" align="left" colspan="2">
                                        <p:commandButton onclick="loading();" action="#{configMenus.saveConfiguracion()}" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px" icon="ui-icon-disk" styleClass="button validate" id="buttonValidate" value="Guardar" />                                                        
                                        <p:commandButton  action="/view/listConfigForm.xhtml" onclick="loading();"   id="buttonNuevo" value="Cancelar" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px"/>                                        

                                    </td>

                                </tr>
                               
                                <tr>
                                    <td width="100%" align="left">
                                        <br></br>
                                        <p:dataTable value="#{configMenus.listaMenu}" var="row" paginator="true" rowIndexVar="rowIndex" id="menulist"
                                                     rows="#{configMenus.rowMaxTable}" rowsPerPageTemplate="10,15,#{configMenus.rowMaxTable}"
                                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                     >                                                                                                                 

                                            <f:facet name="header">  
                                                LISTA DE CONFIGURACIONES PARA MENUS
                                            </f:facet>

                                            <p:column width="200">
                                                <f:facet name="header">
                                                    <h:outputText value="NOMBRE"/>
                                                </f:facet>
                                                <h:outputText value="#{row.nombre}"/>
                                            </p:column> 

                                            <p:column width="15" >
                                                <f:facet name="header">
                                                    <h:outputText value="NIVEL"/>
                                                </f:facet>
                                                <center>
                                                    <h:outputText value="#{row.nivel}"  />
                                                </center>
                                            </p:column>
                                            <p:column style="text-align: center;font-size: 10px; white-space: pre-line" width="40">
                                                <f:facet name="header">
                                                    <h:outputText value="ORDENAR"/>
                                                </f:facet>                                    
                                                <p:commandLink id="UpLink" actionListener="#{configMenus.upPosicion}" update=":mainForm:menulist"  >
                                                    <h:graphicImage id="UpImage"  alt="Subir" url="/resources/icons/subir.png" styleClass="icon"/>
                                                    <f:param name="posMenu" value="#{rowIndex}"/>                                       
                                                </p:commandLink>
                                                <p:spacer width="10"></p:spacer>
                                                <p:commandLink id="DownLink" actionListener="#{configMenus.downPosicion}"  update=":mainForm:menulist">                                                   
                                                    <h:graphicImage id="DownImage" alt="Bajar" url="/resources/icons/bajar.png" styleClass="icon"  />                                     
                                                    <f:param name="posMenu" value="#{rowIndex}"/>                                       
                                                </p:commandLink>
                                            </p:column>    
                                            <p:column width="50" >
                                                <f:facet name="header">
                                                    <h:outputText value="PADRE"/>
                                                </f:facet>
                                                <center>
                                                    <h:outputText value="#{row.padreString}"  />
                                                </center>
                                            </p:column> 

                                            <p:column width="50">
                                                <f:facet name="header">
                                                     <h:outputText value="MOSTRAR"/>
                                                     <br></br>
                                                     <h:outputText value="SIEMPRE"/>
                                                </f:facet>
                                                <center>
                                                    <h:graphicImage rendered="#{configMenus.convertStringToBoolean(row.visible)}" alt="" url="/resources/icons/on.png" styleClass="icon"/>
                                                    <h:graphicImage rendered="#{!configMenus.convertStringToBoolean(row.visible)}" alt="" url="/resources/icons/off.png" styleClass="icon"/>
                                                </center>
                                            </p:column> 

                                            <p:column width="50">
                                                <f:facet name="header">
                                                    <h:outputText value=" > 0"/>
                                                    <br></br>
                                                    <h:outputText value="VIGENTE"/>
                                                </f:facet>
                                                <center>
                                                    <h:graphicImage rendered="#{configMenus.convertStringToBoolean(row.mostarMayorCero)}" alt="" url="/resources/icons/on.png" styleClass="icon"/>
                                                    <h:graphicImage rendered="#{!configMenus.convertStringToBoolean(row.mostarMayorCero)}" alt="" url="/resources/icons/off.png" styleClass="icon"/>
                                                </center>
                                            </p:column> 
                                            <p:column width="50">
                                                <f:facet name="header">
                                                    <h:outputText value=" > 0 "/>
                                                     <br></br>
                                                     <h:outputText value="ACUMULADO"/>
                                                </f:facet>
                                                <center>
                                                    <h:graphicImage rendered="#{configMenus.convertStringToBoolean(row.mostarMayorCeroAcumulado)}" alt="" url="/resources/icons/on.png" styleClass="icon"/>
                                                    <h:graphicImage rendered="#{!configMenus.convertStringToBoolean(row.mostarMayorCeroAcumulado)}" alt="" url="/resources/icons/off.png" styleClass="icon"/>
                                                </center>
                                            </p:column> 

                                            <p:column width="50" >
                                                <f:facet name="header">
                                                    <h:outputText value="CANAL"/>
                                                </f:facet>
                                                <center>
                                                    <h:outputText value="#{row.canal}"  />
                                                </center>
                                            </p:column>

                                            <p:column width="100    " >
                                                <f:facet name="header">
                                                    <h:outputText value="INFORMACION"/>
                                                </f:facet>
                                                <center>
                                                    <h:outputText value="#{configMenus.mostrarInformacion(row.informacion)}"  />
                                                </center>
                                            </p:column>

                                            <p:column width="350">
                                                <f:facet name="header">
                                                    <h:outputText value="BILLETERAS"/>
                                                </f:facet>
                                                <h:outputText value="#{row.strBilleteras}" escape="false"/>
                                            </p:column>

                                            <p:column style="text-align: center;">
                                                <f:facet name="header">
                                                    <h:outputText value="ACCIONES"/>
                                                </f:facet>

                                                <h:commandLink  id="editLink" actionListener="#{configMenus.selectConfiguracion()}" >
                                                    <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/process-info.png" styleClass="icon" title="Modificar" style="padding-right: 3px;"/>
                                                    <f:param name="menuId" value="#{row.menuId}"/>
                                                </h:commandLink>

                                                <h:commandLink id="deleteLink" actionListener="#{configMenus.eliminarConfiguracion(row)}">                                                   
                                                    <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/process_remove.png" styleClass="icon" title="Eliminar" style="padding-right: 3px;" />
                                                    <f:param name="menuId" value="#{row.menuId}"/>
                                                </h:commandLink>

                                            </p:column>
                                        </p:dataTable>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="100%" align="left" colspan="2">
                                        <p:commandButton  action="#{configMenus.savePosicionesMenu}" style="margin-right:10px;margin-top: 10px;margin-bottom: 10px" icon="ui-icon-disk" styleClass="button validate" id="btnSavePosicion" value="Guardar Orden" />  
                                    </td>

                                </tr>    
                            </table>
                        </center>
                        
                    </p:panel>


                </h:form>      
            </ui:define>
        </ui:composition>        
    </body>

</html>
