<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h2 align="left">GESTIONAR BILLETERAS AGRUPADAS</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{listBilleteraAgrupadaForm.composicionBilleteraId}"/>
                            <h:inputHidden value="#{listBilleteraAgrupadaForm.selItemUnitType}"/>
                            
                        <h:inputHidden value="#{listBilleteraAgrupadaForm.edit}"/>    
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>


                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel  header="#{listBilleteraAgrupadaForm.textoInfo}" style="width: 450px">
                                        <table>                            			
                                            <tr>
                                                <td align="left">
                                                    <h:outputText  value="Nombre Grupo:"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText size="30" maxlength="30" value="#{listBilleteraAgrupadaForm.myCompoBilletera.nombre}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText  value="Nombre Comercial :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText size="30" maxlength="40" value="#{listBilleteraAgrupadaForm.myCompoBilletera.nombreComercial}" />
                                                </td>
                                            </tr>                                       
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Unit Type :"/>
                                                </td>

                                                <td align="left">
                                                    <p:selectOneMenu rendered= "#{!listBilleteraAgrupadaForm.edit}"  id="selectItembanco" value="#{listBilleteraAgrupadaForm.myCompoBilletera.unitTypeId}" maxlength="8">
                                                        <f:selectItems value="#{listBilleteraAgrupadaForm.selectItemsUnitType}" />
                                                    </p:selectOneMenu>
                                                    <h:outputText rendered="#{listBilleteraAgrupadaForm.edit}"  value="#{listBilleteraAgrupadaForm.nameUnitType}"/>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Prefijo Unidad :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  size="30" maxlength="30" value="#{listBilleteraAgrupadaForm.myCompoBilletera.prefijoUnidad}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Cantidad decimal :"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{listBilleteraAgrupadaForm.myCompoBilletera.cantidadDecimales}">
                                                        <f:selectItem itemLabel="0" itemValue="0" />
                                                        <f:selectItem itemLabel="1" itemValue="1" />
                                                        <f:selectItem itemLabel="2" itemValue="2" />
                                                        <f:selectItem itemLabel="3" itemValue="3" />
                                                        <f:selectItem itemLabel="4" itemValue="4" />
                                                        <f:selectItem itemLabel="5" itemValue="5" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Operador :"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{listBilleteraAgrupadaForm.selItemOperador}">
                                                        <f:selectItem itemLabel="Ninguno" itemValue="NINGUNO" />
                                                        <f:selectItem itemLabel="Suma" itemValue="SUMA" />
                                                        <f:selectItem itemLabel="Resta" itemValue="RESTA" />
                                                        <f:selectItem itemLabel="Multiplicación" itemValue="MULTIPLICACION" />
                                                        <f:selectItem itemLabel="División" itemValue="DIVISION" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Valor de operación :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerValor" min="0"
                                                               value="#{listBilleteraAgrupadaForm.myCompoBilletera.valor}" />                                      

                                                </td>   
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Monto Mínimo :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerMin" min="0.0" max="99999" stepFactor="1.0"
                                                               value="#{listBilleteraAgrupadaForm.myCompoBilletera.montoMinimo}" />                                      

                                                </td>   
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Monto Máximo :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerMax" min="0.0"  max="99999999999999999999999999999999.999999" maxlength="38"
                                                               value="#{listBilleteraAgrupadaForm.myCompoBilletera.montoMaximo}" />                                      

                                                </td>   
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton action="#{listBilleteraAgrupadaForm.saveBilleteraAgrupada()}" onclick="loading();"  styleClass="button validate" id="buttonValidate" value="Guardar"/> 

                                                </td>
                                                <td align="left">    
                                                    <p:commandButton action="#{listBilleteraAgrupadaForm.newComposicionBilletera()}" onclick="loading();"   id="buttonNuevo" value="Limpiar"/>
                                                </td>  
                                            </tr> 

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>

                            <tr>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>
                                    <p:dataTable value="#{listBilleteraAgrupadaForm.billeterasAgrupadasList}" var="row"  paginator="true" rows="#{listBilleteraAgrupadaForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{listBilleteraAgrupadaForm.rowMaxTable}"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE BILLETERAS AGRUPADAS
                                        </f:facet>

                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE GRUPO"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column> 
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE COMERCIAL"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombreComercial}"/>
                                        </p:column>
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="BILLETERAS SIMPLES"/>
                                            </f:facet>

                                            <h:commandLink id="editPreguntasLink" action="/view/BilleteraAgrupadaForm.xhtml" actionListener="#{billeteraAgrupadaForm.iniciarlizar()}" >
                                                <h:outputText value="Editar" />
                                                <f:param name="composicionBilleteraId" value="#{row.composicionBilleteraId}"/>                                       
                                            </h:commandLink>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{listBilleteraAgrupadaForm.editCompoBilletera()}">
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="composicionBilleteraId" value="#{row.composicionBilleteraId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink" action="#{listBilleteraAgrupadaForm.deleteBilleteraComp()}"  onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="composicionBilleteraId" value="#{row.composicionBilleteraId}"/>
                                            </h:commandLink>

                                        </p:column>
                                    </p:dataTable>
                                </td> 
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

