<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>

        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h2 align="center">GESTIONAR CONFIGURACIONES</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>
                                    <p:dataTable id="tabla" value="#{listConfigForm.configList}" var="row" 
                                                 paginator="true" rows="#{listConfigForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" 
                                                 rowsPerPageTemplate="10,15,#{listConfigForm.rowMaxTable}"

                                                 >
                                        <f:facet name="header">  
                                            LISTA DE CONFIGURACIONES PARA BILLETERAS
                                        </f:facet>

                                        <p:column width="200">
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column> 
                                        <p:column width="100" rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="MOSTRAR DPI"/>
                                            </f:facet>
                                            <center>
                                                <h:graphicImage rendered="#{row.mostrarDpi}" alt="Modificar" url="/resources/icons/on.png" styleClass="icon"/>
                                                <h:graphicImage rendered="#{!row.mostrarDpi}" alt="Modificar" url="/resources/icons/off.png" styleClass="icon"/>
                                            </center>
                                        </p:column>  
                                        <p:column width="100" rendered="false">
                                            <f:facet name="header">
                                                <h:outputText value="MOSTRAR ACUMULADOS MEGAS"/>
                                            </f:facet>
                                            <center>
                                                <h:graphicImage rendered="#{row.mostrarAcumuladosMegas}" alt="Modificar" url="/resources/icons/on.png" styleClass="icon"/>
                                                <h:graphicImage rendered="#{!row.mostrarAcumuladosMegas}" alt="Modificar" url="/resources/icons/off.png" styleClass="icon"/>
                                            </center>
                                        </p:column>  
                                        <p:column width="350">
                                            <f:facet name="header">
                                                <h:outputText value="COS"/>
                                            </f:facet>

                                            <h:outputText value="#{row.strCos}" escape="false"/>
                                        </p:column>

                                        <p:column style="text-align: center;" width="15%">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink  id="editLink" action="/view/configForm.xhtml" actionListener="#{configForm.iniciarEdit}">
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/process-info.png" styleClass="icon" title="Modificar" style="padding-right: 3px;"/>
                                                <f:param name="configId" value="#{row.configId}"/>                                               
                                            </h:commandLink>

                                            <p:commandLink id="cloneLink" onclick="statusDialog.show();" oncomplete="statusDialog.hide();"   action="#{listConfigForm.cloneConfig()}"    ajax="true" update="tabla">
                                                <h:graphicImage id="clonemage"  alt="Clone" url="/resources/icons/process_clon.png" styleClass="icon" title="Clonar" style="padding-right: 3px;"/>
                                                <f:param name="configId" value="#{row.configId}"/>                                                                                                   
                                            </p:commandLink>

                                            <h:commandLink id="deleteLink" action="#{listConfigForm.deleteConfig()}"  onclick="return confirm('¿Esta seguro que desea eliminar este registro?');" disabled="#{row.configId == 0? true:false}">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/process_remove.png" styleClass="icon" title="Eliminar" style="padding-right: 3px;" />
                                                <f:param name="configId" value="#{row.configId}"/>                                                                                                   
                                            </h:commandLink>
                                            <p:spacer width="15"></p:spacer>
                                            <h:commandLink id="cabeceraLinkForm"  action="/view/configCabecera.xhtml" actionListener="#{configCabecera.iniciarConfiguracion()}" >
                                                <h:graphicImage id="cabeceraImage" alt="cabecera" url="/resources/icons/cabecera.png" height="24" width="24" styleClass="icon" title="Adicionar Cabecera" style="padding-right: 3px;"/>                                                
                                                <f:param name="configId" value="#{row.configId}"/> 
                                            </h:commandLink>

                                            <h:commandLink id="menuLinkForm"  action="/view/configMenu.xhtml" actionListener="#{configMenus.iniciarConfiguracion()}">
                                                <h:graphicImage id="menuImage" alt="Menu" url="/resources/icons/menu.png" height="24" width="24" styleClass="icon" title="Adicionar Menu" style="padding-right: 3px;"/>                                                
                                                <f:param name="configId" value="#{row.configId}"/> 
                                            </h:commandLink>
                                            <h:commandLink id="menuLinkFormAcu"  action="/view/configAcumuladoForm.xhtml" actionListener="#{configAcumuladoForm.iniciarConfiguracion()}">
                                                <h:graphicImage id="menuImageAcu" alt="Menu" url="/resources/icons/acumuladoss.png"  height="24" width="24" styleClass="icon" title="Adicionar Acumulado" style="padding-right: 3px;"/>                                                
                                                <f:param name="configId" value="#{row.configId}"/> 
                                            </h:commandLink>   
                                        </p:column>

                                    </p:dataTable>
                                    <p:separator id="separator"/>
                                    <p:commandButton action="/view/configForm.xhtml" actionListener="#{configForm.iniciarNuevo()}" icon="ui-icon-disk" onclick="loading();"  styleClass="button validate" id="buttonValidate" value="Nuevo"/> 
                                </td> 
                            </tr>
                        </table>
                    </center>
                </h:form>


                <p:dialog widgetVar="statusDialog" modal="true" header="CLONANDO"
                          resizable="false" styleClass="dialog_rol" draggable="false"
                          closable="false" showHeader="false" >
                    <h:graphicImage url="/resources/img/ajaxloadingbar.gif"/>
                </p:dialog>

            </ui:define>
        </ui:composition>

    </body>

</html>

