<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h2 align="center">GESTIONAR COS</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>

                            <tr>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>
                                    <p:dataTable value="#{listCosForm.cosList}" var="row"  paginator="true" rows="10"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE COS
                                        </f:facet>

                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column> 
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="MOSTRAR VIGENCIA"/>
                                            </f:facet>
                                            <h:outputText value="#{row.mostrarVigencia}"/>
                                        </p:column>
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="/view/cosForm.xhtml" actionListener="#{cosForm.iniciarEdit}">
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="cosId" value="#{row.cosId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"   onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                            </h:commandLink>

                                        </p:column>
                                    </p:dataTable>
                                    <p:separator id="separator"/>
                                    <p:commandButton action="/view/cosForm.xhtml" actionListener="#{cosForm.iniciarNuevo()}" icon="ui-icon-disk" onclick="loading();"  styleClass="button validate" id="buttonValidate" value="Nuevo"/> 
                                </td> 
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

