
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


    <body >


        <ui:composition template="./../resources/templates/templateLogin.xhtml">


            <ui:define name="content">
                <h:form>
                    <div id="textoLogin">
                        <div id="inputUser"> <h:inputText  style="width: 190px;" id="userId" value="#{login.userId}" required="false" label="Usuario" validatorMessage="El campo Usuario contiene caracteres Invalidos..">
                                <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.]+$"  />
                            </h:inputText>
                        </div>

                        <div id="inputPass"> <h:inputSecret  style="width: 190px;" id="password" value="#{login.password}" autocomplete="off">
                            </h:inputSecret></div>
                        <div id="txtUser"><h:outputText   style="font-family: Helvetica,Arial,FreeSans,san-serif; font-size: 13px; font-weight: bold; " value="Usuario"></h:outputText>  </div>
                        
                        <div id="txtPass"><h:outputText style="font-family: Helvetica,Arial,FreeSans,san-serif; font-size: 13px;font-weight: bold; " value="Contraseña"></h:outputText> </div>
                        <div id="btnLogin"><h:commandButton styleClass="blue medium button" id="login"  action="#{login.verifyLogin}" value="Iniciar"  /> </div>

                        <div style="position: relative; top: 60px; left: -30px; z-index: 5000;" >
                            <h:messages styleClass='error' for="userId" showDetail='false' style="color: red"/>
                            <h:outputLabel styleClass="error" value="#{login.messageError}" style="color: red" />  
                        </div>
                    </div>
                </h:form>                
            </ui:define>
        </ui:composition>

    </body>
<script type="text/javascript">
  //<![CDATA[
  function manejarLogin(xhr, status, args) {
    if (!args.validationFailed && args.estaLogeado) {
      setTimeout(function() {
        window.location = args.view;
      }, 500);
    }
  }
//]]>
</script>

</html>
