<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h1>GESTIONAR MAPING OFERTAS</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{mapeoOfertasForm.mapeoId}"/>
                            <h:inputHidden value="#{mapeoOfertasForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 360px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText   value="ID MapeoOfertas : " rendered="#{mapeoOfertasForm.edit}"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="IDmapeoOfertas"  size="30"  maxlength="30" rendered="#{mapeoOfertasForm.edit}" disabled="true" value="#{mapeoOfertasForm.mapeoOfertas.id_mapeo}">


                                                    </h:inputText>
                                                </td> 
                                            </tr>



                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Offering Id : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringid"  size="30"  maxlength="30" 
                                                                  value="#{mapeoOfertasForm.mapeoOfertas.offeringid}">
                                                      
                                                    </h:inputText>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Offering Parent : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringparent"  size="30"  maxlength="30"
                                                                  value="#{mapeoOfertasForm.mapeoOfertas.offeringparent}"/>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Offering Name : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringname"  size="30"  maxlength="30"
                                                                  value="#{mapeoOfertasForm.mapeoOfertas.offeringname}"/>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Type : "/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{mapeoOfertasForm.mapeoOfertas.type}" style="width: 100%;">
                                                        <f:selectItem itemLabel="SELECCIONAR TYPE" itemValue="" />
                                                        <f:selectItem itemLabel="ALCO" itemValue="ALCO" />
                                                        <f:selectItem itemLabel="COS" itemValue="COS" />
                                                        <f:selectItem itemLabel="CUG" itemValue="CUG" />
                                                        <f:selectItem itemLabel="FN" itemValue="FN" />
                                                        <f:selectItem itemLabel="PC" itemValue="PC" />
                                                        <f:selectItem itemLabel="VPN" itemValue="VPN" />

                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Offering Code : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringcode"  size="30"  maxlength="30"
                                                                  value="#{mapeoOfertasForm.mapeoOfertas.offeringcode}"/>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Payment Mode : "/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{mapeoOfertasForm.mapeoOfertas.paymentmode}" style="width: 100%;" >
                                                        <f:selectItem itemLabel="SELECCIONAR PAYMENTMODE" itemValue="#{null}" />
                                                        <f:selectItem itemLabel="PREPAGO" itemValue="0" />
                                                        <f:selectItem itemLabel="POSTPAGO" itemValue="1" />
                                                        <f:selectItem itemLabel="HIBRIDA" itemValue="2" />

                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{mapeoOfertasForm.saveMapeoOfertas()}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 
                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{mapeoOfertasForm.newMapeoOfertas()}"  id="buttonNuevo" value="Limpiar"/>
                                                </td> 
                                            </tr>                         

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable var="row" value="#{mapeoOfertasForm.listMapeoOfertas}" paginator="true" rows="#{mapeoOfertasForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{mapeoOfertasForm.rowMaxTable}"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE MAPING OFERTAS 
                                        </f:facet>         
                                        <p:column style="text-align: center;" filterBy="#{row.offeringid}" headerText="OFEERINGID" filterMatchMode="contains">
                                            <f:facet name="header">
                                                <h:outputText value="OFEERING ID" />
                                            </f:facet>
                                            <h:outputText value="#{row.offeringid}"/>
                                        </p:column>

                                        <p:column style="text-align: center;" filterBy="#{row.offeringparent}" headerText="OFFERINGPARENT" filterMatchMode="contains">
                                            <f:facet name="header">
                                                <h:outputText value="OFFERING PARENT"/>
                                            </f:facet>
                                            <h:outputText value="#{row.offeringparent}"/>
                                        </p:column>

                                        <p:column style="text-align: left;" filterBy="#{row.offeringname}" headerText="OFFERINGNAME" filterMatchMode="contains">
                                            <f:facet name="header">
                                                <h:outputText value="OFFERING NAME" />
                                            </f:facet>
                                            <h:outputText value="#{row.offeringname}"/>
                                        </p:column>



                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="TYPE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.type}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="OFFERING CODE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.offeringcode}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="PAYMENT MODE"/>
                                            </f:facet>
                                            <h:outputText value="#{mapeoOfertasForm.validarPaymentMode(row)}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{mapeoOfertasForm.editMapeoOfertas()}" >
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="id_mapeo" value="#{row.id_mapeo}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{mapeoOfertasForm.deleteMapeoOfertas()}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="id_mapeo" value="#{row.id_mapeo}"/>
                                            </h:commandLink>
                                        </p:column>

                                    </p:dataTable>   


                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>        
    </body>

</html>
