
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <body>

        <ui:composition template="./../resources/templates/simple.xhtml">            

            <ui:define name="content">

                <center>
                    <img src="../resources/css/images/mainMenu.jpg" width="400" height="350" alt="mainMenu"/>

                </center>

            </ui:define>

        </ui:composition>

    </body>
</html>
