<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm" >
                    <center>
                        <h1>GESTIONAR NODOS</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{nodoForm.nodoId}"  />
                            <h:inputHidden value="#{nodoForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 360px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText   value="ID Nodo : " rendered="#{nodoForm.edit}"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="IDnodo"  size="30"  maxlength="50" rendered="#{nodoForm.edit}" disabled="true" value="#{nodoForm.nodo.nodo_id}">


                                                    </h:inputText>
                                                </td> 
                                            </tr>



                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="URL : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringid"  size="30"  maxlength="100" 
                                                                  value="#{nodoForm.nodo.url}">

                                                    </h:inputText>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Detalle : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="offeringparent"  size="30"  maxlength="145"
                                                                  value="#{nodoForm.nodo.detalle}"/>
                                                </td>
                                            </tr>



                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{nodoForm.saveNodo()}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 
                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{nodoForm.newNodo()}"  id="buttonNuevo" value="Limpiar"/>
                                                </td> 

                                            </tr>   
                                        </table>
                                        <p:commandButton  onclick="statusDialog.show();" oncomplete="statusDialog.hide();"  action="#{nodoForm.reloadServicios()}"  id="buttonRecargar" value="Recargar Nodos" style="margin-left: 1%" />

                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable var="row" value="#{nodoForm.listNodo}" paginator="true" rows="#{nodoForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,20"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE NODOS 
                                        </f:facet>         
                                        <p:column style="text-align: center;"  headerText="URL" >
                                            <f:facet name="header">
                                                <h:outputText value="URL" />
                                            </f:facet>
                                            <h:outputText value="#{row.url}"/>
                                        </p:column>

                                        <p:column style="text-align: center;" headerText="DETALLE">
                                            <f:facet name="header">
                                                <h:outputText value="DETALLE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.detalle}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{nodoForm.editNodo()}" >
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="id_nodo" value="#{row.nodo_id}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{nodoForm.deleteNodo()}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="id_nodo" value="#{row.nodo_id}"/>
                                            </h:commandLink>
                                            <h:commandLink id="actLink"  actionListener="#{nodoForm.recargarNodo(row)}" onclick="statusDialog.show();" >                                                   
                                                <h:graphicImage id="actImage" alt="Recargar" url="/resources/icons/gearplus.png" styleClass="icon"  width="24" height="24"/>
                                                 <f:param name="id_nodo" value="#{row.nodo_id}"/>
                                            </h:commandLink>
                                     

                                        </p:column>

                                    </p:dataTable>   


                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>

                
       <p:dialog widgetVar="statusDialog" modal="true" header="RECARGANDO NODOS"
                                                  resizable="false" styleClass="dialog_rol" draggable="false"
                                                  closable="false" showHeader="false" >
                                            <h:graphicImage url="/resources/img/ajaxloadingbar.gif"/>
                                        </p:dialog>

            </ui:define>
        </ui:composition>        
    </body>

</html>
