<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>

    </h:head>
    <body>        
        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h2 align="left">OPCIONES GENERALES</h2>

                        <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                        <p:panelGrid  columns="1">
                            <p:panel header="ESTADO DEL SISTEMA" style="width: 400px;">
                                <table>
                                    <tr>
                                        <td style="border-width:0px;">
                                            <p:selectOneButton   value="#{optionsDefault.sistema_consulta_saldo_sw_enable}" >
                                                <f:selectItem itemLabel="ON" itemValue="true" />
                                                <f:selectItem itemLabel="OFF" itemValue="false" />
                                                <p:ajax  process="@this" listener="#{optionsDefault.updateTextState()}" update="txtEstado"/>
                                            </p:selectOneButton>    
                                        </td>
                                        <td align="left">
                                            <h:outputText id="txtEstado" value="#{optionsDefault.textEstadoSistema}"/>
                                        </td>
                                    </tr>
                                </table>
                            </p:panel> 

                            <h:panelGrid columns="2">
                                <p:panel  header="SALDO MÍNIMO Y MÁXIMO" style="width: 500px; height: 211px">
                                    <table>                                   
                                        <tr>
                                            <td  width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Texto Saldo Mínimo :"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputText id="inputTxtMin" maxlength="30" value="#{optionsDefault.default_texto_saldo_min}" disabled="#{optionsDefault.default_texto_saldo_min_sw_valor}"  />
                                            </td>                                            
                                            <td  width="100px;" align="right" style="border-width:0px;">
                                                <h:outputText  value="Mostrar Valor :"/>
                                            </td>
                                            <td align="left" colspan="2" style="border-width:0px;">
                                                <p:selectBooleanCheckbox value="#{optionsDefault.default_texto_saldo_min_sw_valor}">
                                                    <p:ajax update="inputTxtMin"/>                                                

                                                </p:selectBooleanCheckbox>
                                            </td>

                                        </tr>  
                                        <tr>
                                            <td  width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Texto Saldo Máximo :"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputText maxlength="30" value="#{optionsDefault.default_texto_saldo_max}"   />
                                            </td>

                                        </tr> 

                                    </table>
                                </p:panel>

                                <p:panel  header="RESPUESTAS POR DEFECTO" style="width: 500px">
                                    <table> 
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Sistema Consulta de Saldo Fuera De Servicio:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputTextarea rows="3" cols="30"
                                                                 value="#{optionsDefault.default_respuesta_fuera_servicio}" 
                                                                 counter="counterTxtCsuFuera" maxlength="100"
                                                                 counterTemplate="{0} caracteres restantes" />
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText id="counterTxtCsuFuera" /> 
                                            </td> 
                                        </tr>                                        

                                        <tr>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText  value="Usuario NO encontrado en COMVERSE:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputTextarea rows="3" cols="30"
                                                                 value="#{optionsDefault.default_respuesta_usuario_no_comverse}" 
                                                                 counter="counterTxtCaracter" maxlength="100"
                                                                 counterTemplate="{0} caracteres restantes" />
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText id="counterTxtCaracter" /> 
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText  value="Problemas de Conexión a COMVERSE :"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputTextarea rows="3" cols="30"
                                                                 value="#{optionsDefault.default_respuesta_falla_conex_comverse}" 
                                                                 counter="counterTxtFueraServicio" maxlength="100"
                                                                 counterTemplate="{0} caracteres restantes" />
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText id="counterTxtFueraServicio" /> 
                                            </td> 
                                        </tr>

                                    </table>
                                </p:panel>

                            </h:panelGrid>

                            <h:panelGrid columns="2">
                                <p:panel  header="FECHA DE EXPIRACION(Vigencia)" style="width: 490px;">
                                    <table>                            			
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Formato :"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:inputText size="30" maxlength="30" value="#{optionsDefault.vigencia_saldo_formato_date}"></h:inputText>   
                                            </td>                                              
                                        </tr>                                                                           
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Texto Vigencia:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputTextarea rows="3" cols="30"
                                                                 value="#{optionsDefault.vigencia_saldo_texto}" 
                                                                 counter="counterTxtVigencia" maxlength="100"
                                                                 counterTemplate="{0} caracteres restantes" />
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText id="counterTxtVigencia" /> 
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Fecha VIGENCIA ILIMITADA en CMV:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:inputText size="30" maxlength="30" value="#{optionsDefault.vigencia_saldo_vigencia_ilimitada}"></h:inputText>   
                                            </td>                                              
                                        </tr>
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Texto a mostrar VIGENCIA ILIMITADA:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:inputText size="40" maxlength="40" value="#{optionsDefault.vigencia_saldo_txt_vigencia_ilimitada}"></h:inputText>   
                                            </td>                                              
                                        </tr>

                                    </table>
                                </p:panel> 

                                <p:panel  header="SEGUNDA FECHA DE EXPIRACION" style="width: 490px;height: 238px">
                                    <table>                            			
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Formato Fecha:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:inputText size="30" maxlength="30" value="#{optionsDefault.seg_vigencia_formato_fecha}"></h:inputText>   
                                            </td>                                              
                                        </tr>                                                                           
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Formato Hora:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:inputText size="30" maxlength="30" value="#{optionsDefault.seg_vigencia_formato_hora}"></h:inputText>   
                                            </td>                                              
                                        </tr>                                                                           
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Texto Vigencia:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputTextarea rows="3" cols="30"
                                                                 value="#{optionsDefault.seg_vigencia_text_saldo}" 
                                                                 counter="counterTxtSegVigencia" maxlength="100"
                                                                 counterTemplate="{0} caracteres restantes" />
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <h:outputText id="counterTxtSegVigencia" /> 
                                            </td> 
                                        </tr>
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Cantidad dias Expiracion:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputMask id="idCantDec" value="#{optionsDefault.seg_vigencia_dias_exp}" mask="9?999" maxlength="4" size="30"> </p:inputMask>

                                            </td>                                              
                                        </tr>

                                    </table>
                                </p:panel> 
                            </h:panelGrid>


                            <p:panel id="pnlUnidades"  header="UNIDADES DE NAVEGACION" >
                                <h:panelGrid columns="3" cellspacing="3" cellpadding="3" width="100%">
                                    <p:panel header="VALORES DE CONVERSION">

                                        <h:panelGrid columns="2" style="height: 150px" >
                                            <h:outputText  value="Valor Conversion de Unidad:"/>
                                            <p:inputMask id="idUnidConv" required="true" label="* Valor De Conversion" value="#{optionsDefault.valor_conversion_unidad_navegacion}" mask="9?999999999" maxlength="5" size="30"> 
                                                <f:validateLength minimum="1"  maximum="10"/>
                                            </p:inputMask>
                                            <h:outputText  value="Valor para Cambio de Unidad:"/>
                                            <p:inputMask id="idUnidCamb" required="true" label="* Valor Cambio De Unidad" value="#{optionsDefault.valor_cambio_unidad_navegacion}" mask="9?999999999" maxlength="5" size="30"> 
                                                <f:validateLength minimum="1"  maximum="10"/>
                                            </p:inputMask>
                                            <h:outputText  value="Unidades de Navegacion:"/>
                                            <p:inputText id="idUnidNav" required="true" label="* Prefijos Navegacion" size="35" validatorMessage="* El valor del campo no corresponde al formato correcto. Ej: Mb,Gb,Tb" maxlength="45" title="Utilizar el caracter coma(,) para separar las unidades" value="#{optionsDefault.valor_unidades_navegacion}">
                                                <f:validateLength minimum="1"  maximum="45"/>
                                                <f:validateRegex pattern="^[A-Za-z]{1,5}((,\s?){1}[A-Za-z]{1,5})*$"/>
                                            </p:inputText>
                                            <h:panelGrid columns="1">
                                                <h:message for="idUnidConv" style="color:red" />
                                                <h:message for="idUnidCamb" style="color:red" />
                                                <h:message for="idUnidNav" style="color:red" />                                            
                                            </h:panelGrid>

                                        </h:panelGrid>
                                    </p:panel>

                                    <p:dataTable id="tblWalletSimp" value="#{optionsDefault.wallestsSimple}" var="simp">
                                        <f:facet name="header">  
                                            <h:panelGrid columns="2" cellpadding="1" cellspacing="1"
                                                         columnClasses="styleHeadWalletsConfig,styleHeadWalletsConfig">
                                                <h:outputLabel value="Lista de Billeteras Simples"/>
                                                <p:commandButton icon="ui-icon-plusthick" onclick="dlgSimp.show()" 
                                                                 style="width: 20px; height: 20px;"/>
                                            </h:panelGrid>
                                        </f:facet>
                                        
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{simp.nombre}"/>
                                        </p:column> 
                                        
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="Accion"/>
                                            </f:facet>
                                            <p:commandButton value="delete" actionListener="#{optionsDefault.removedWalletSimple(simp.id)}" 
                                                             update=":mainForm:pnlUnidades :formAddSimp"/>

                                        </p:column>
                                    </p:dataTable>



                                    <p:dataTable id="tblWalletComp" value="#{optionsDefault.wallestsComp}" var="comp">
                                        <f:facet name="header">  
                                            <h:panelGrid columns="2" cellpadding="2" cellspacing="2" columnClasses="styleHeadWalletsConfig,styleHeadWalletsConfig">
                                                <h:outputLabel value="Lista de Billeteras Agrupadas"/>
                                                <p:commandButton icon="ui-icon-plusthick" onclick="dlgComp.show()" style="width: 20px; height: 20px;"/>
                                            </h:panelGrid>
                                        </f:facet>
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{comp.nombre}"/>
                                        </p:column>
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="Accion"/>
                                            </f:facet>
                                            <p:commandButton value="delete" actionListener="#{optionsDefault.removedWalletComp(comp.id)}" update=":mainForm:pnlUnidades :formAddComp"/>
                                        </p:column>
                                    </p:dataTable>
                                </h:panelGrid>
                            </p:panel> 


                            <h:panelGrid columns="2">
                                <p:panel  header="BILLETERAS NUEVAS EN CMV(NO CONFIGURADAS)" style="width: 500px">
                                    <table> 
                                        <tr>
                                            <td align="left">
                                                <h:outputText value="Cantidad decimal :"/>
                                            </td>
                                            <td align="left">
                                                <p:selectOneMenu value="#{optionsDefault.default_wallet_cantidad_decimal}">
                                                    <f:selectItem itemLabel="0" itemValue="0" />
                                                    <f:selectItem itemLabel="1" itemValue="1" />
                                                    <f:selectItem itemLabel="2" itemValue="2" />
                                                    <f:selectItem itemLabel="3" itemValue="3" />
                                                    <f:selectItem itemLabel="4" itemValue="4" />                    
                                                </p:selectOneMenu>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <h:outputText value="Mostrar vigencia :"/>
                                            </td>
                                            <td align="left">
                                                <p:selectBooleanCheckbox value="#{optionsDefault.default_wallet_sw_mostrar_vigencia}">                                                                                                                                                
                                                </p:selectBooleanCheckbox>  
                                            </td>
                                        </tr>
                                    </table>
                                </p:panel>

                                <p:panel  header="TEXTOS SEPARADORES" style="width: 500px; height: 110px">
                                    <table> 
                                        <tr>
                                            <td width="150px;" align="left" style="border-width:0px;">
                                                <h:outputText  value="Separador para texto Saldo Billetera:"/>
                                            </td>
                                            <td align="left" style="border-width:0px;">
                                                <p:inputText value="#{optionsDefault.default_wallet_texto_separador}" maxlength="10"/>
                                            </td>                                        
                                        </tr>
                                    </table>
                                </p:panel>                                
                            </h:panelGrid>

                            <h:panelGrid columns="2">
                                <p:panel header="Cantidad Cabeceras">
                                    <h:outputLabel for="cabecera" value="Cantidad: " />
                                    <p:spinner id="idCantidad" min="0" value="#{optionsDefault.default_cantidad_cabeceras}" />
                                </p:panel>
                                <p:panel  header="MOSTRAR EN MINUTOS">
                                    <table> 
                                        <tr>
                                            <td align="left">
                                                <h:outputText value="Habilitar :"/>
                                            </td>
                                            <td align="left">
                                                 <p:selectBooleanCheckbox value="#{optionsDefault.default_mostar_minutos}">                                                                                                                                                
                                                </p:selectBooleanCheckbox>  
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </p:panel>
                            </h:panelGrid>
                             
                            

                        </p:panelGrid>    
                        <br></br>
                        <p:commandButton style="left:-400px;" action="#{optionsDefault.saveChanges()}" onclick="var ws = isMayorUnidConvToUnidCambio();
                                if (ws) {
                                    dlg.show();
                                    return false;
                                }
                                loading();" value="Guardar Cambios"  id="withIcon"   
                                         icon="ui-icon-disk" />       
                    </center>
                </h:form>

                <p:dialog header="Adicionando Billetera Simple" widgetVar="dlgSimp" resizable="false" > 

                    <h:form id="formAddSimp">
                        <h:panelGrid columns="2" style="margin-bottom:10px">
                            <h:outputLabel  for ="Texto" value="Billetera Simple:" />
                            
                            <h:selectOneMenu id="selectItemBilleteraSimp" value="#{optionsDefault.selectedItemBilleteraSimple}">
                                <f:selectItems value="#{optionsDefault.selectItemsBilleraSimple}" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <p:commandButton id="btnAddSimp" actionListener="#{optionsDefault.addBilleteraSimple()}" 
                                         value="Aceptar" update=":mainForm:pnlUnidades" oncomplete="dlgSimp.hide();"/> 
                    </h:form> 

                </p:dialog>
                <p:dialog header="Adicionando Billetera Agrupadas" widgetVar="dlgComp" resizable="false">  
                    <h:form id="formAddComp">
                        <h:panelGrid columns="2" style="margin-bottom:10px">
                            <h:outputLabel for="Texto" value="Billetera Compuesta:" />
                            <h:selectOneMenu id="selectItemBilleteraComp" value="#{optionsDefault.selectedItemBilleteraComp}">
                                <f:selectItems value="#{optionsDefault.selectItemsBilleraComp}" />
                            </h:selectOneMenu>
                        </h:panelGrid>
                        <p:commandButton id="btnAddComp" actionListener="#{optionsDefault.addBilleteraCompuesta()}"
                                         value="Aceptar" update=":mainForm:pnlUnidades" oncomplete="dlgComp.hide();"/>    
                    </h:form>
                </p:dialog>

                <p:dialog id="validationUnidades" header="Valor Unidades de Navegacion Incorrectas" widgetVar="dlg" resizable="false">  
                    <h:form id="frmValUnidades">
                        <h:panelGrid columns="2" style="margin-bottom:10px">
                            <h:graphicImage alt="warning" url="/resources/icons/warning.jpg" styleClass="icon"/>
                            <h:outputLabel value="El campo Valor Conversion de Unidad, no puede ser mayor al campo Valor Para Cambio de Unidad...! " style="color: red; font-family: sans-serif;"/>
                        </h:panelGrid>
                        <p:commandButton id="btnAddComp" value="Aceptar" update=":mainForm:pnlUnidades :formAddComp" oncomplete="dlg.hide();"/>    
                    </h:form>
                </p:dialog>

            </ui:define>
        </ui:composition>        
    </body>

</html>
