<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h2 align="left">OPCIONES POR DEFECTO PARA PUBLICIDAD</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" align="left">
                                    <p:panel  header="ESTADO DE PUBLICIDAD" style="width: 500px">
                                        <table>                            			

                                            <tr>
                                                <td align="left">
                                                    <h:outputText  value="HABILITADO: "/>
                                                </td>      

                                                <td align="left" colspan="2">
                                                    <p:selectBooleanCheckbox value="#{optionsPublicidad.publicidad_sw_habilitado}">

                                                    </p:selectBooleanCheckbox>
                                                </td>
                                            </tr>
                                        </table>
                                    </p:panel> 
                                    <table>
                                        <tr> 
                                            <td align="left">
                                                <br></br>                                        </td>
                                        </tr> 

                                    </table>	                              

                                </td>
                            </tr>

                        </table>
                        <p:commandButton action="#{optionsPublicidad.saveChanges()}" onclick="loading();" value="Guardar Cambios"  id="withIcon"   
                                                 icon="ui-icon-disk" />       
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>        
    </body>

</html>
