<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h1>GESTIONAR ORIGEN</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{origenForm.origenId}"/>
                            <h:inputHidden value="#{origenForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 350px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="OrigenId : " rendered="#{origenForm.edit}"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="origenId"  size="30"  maxlength="30" rendered="#{origenForm.edit}" disabled="true" value="#{origenForm.origen.origenId}"/>
                                                </td> 
                                            </tr>



                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Nombre : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="nombre"  size="30"  maxlength="30"  value="#{origenForm.origen.nombre}"/>
                                                </td>
                                            </tr>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Descripcion : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="descripcion"  size="30"  maxlength="30" value="#{origenForm.origen.descripcion}"/>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{origenForm.saveOrigen}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 
                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{origenForm.newOrigen}"  id="buttonNuevo" value="Limpiar"/>
                                                </td> 
                                            </tr>                         

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable var="row" value="#{origenForm.listOrigen}" paginator="true" rows="#{origenForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{origenForm.rowMaxTable}"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE ORIGEN 
                                        </f:facet>                                     
                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="DESCRIPCION"/>
                                            </f:facet>
                                            <h:outputText value="#{row.descripcion}"/>
                                        </p:column>

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink" action="#{origenForm.editOrigen}"  rendered="#{row.origenId==0? false:true}">
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="origenId" value="#{row.origenId}"/>
                                            </h:commandLink>
                                            <h:commandLink id="deleteLink"  action="#{origenForm.deleteOrigen}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');" rendered="#{row.origenId==0? false:true}">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="origenId" value="#{row.origenId}"/>
                                            </h:commandLink>
                                        </p:column>

                                    </p:dataTable>                             
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>        
    </body>

</html>
