<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    
    
        <script>
            PrimeFaces.locales["es"] = {
                closeText: "Cerrar",
                prevText: "Anterior",
                nextText: "Siguiente",
                monthNames: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"],
                monthNamesShort: ["Ene", "Feb", "Mar", "Abr", "May", "Jun", "Jul", "Ago", "Sep", "Oct", "Nov", "Dic"],
                dayNames: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
                dayNamesShort: ["Dom", "Lun", "Mar", "Mie", "Jue", "Vie", "Sab"],
                dayNamesMin: ["Do", "Lu", "Ma", "Mi", "Ju", "Vi", "Sa"],
                weekHeader: "Semana",
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: "",
                timeOnlyTitle: "Solo hora",
                timeText: "Tiempo",
                hourText: "Hora",
                minuteText: "Minuto",
                secondText: "Segundo",
                currentText: "Fecha actual",
                ampm: false,
                month: "Mes",
                week: "Semana",
                day: "Día",
                allDayText: "Todo el día"
            }
        </script>

    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        

        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">

                <h:form id="mainForm">
                    <center>
                        <h2 align="left">Reporte de Consultas Historicas Realizadas</h2>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel   style="width: 900px">
                                        <table>

                                            <tr> 
                                                <td align="left">
                                                    <h:outputText  value="Teléfono : "/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  id="nombre"  size="30"  maxlength="30"
                                                                  value="#{reporteConsultasHistorica.isdn}"/>
                                                </td>
                                                <td align="left"  style="width: 80px">
                                                    <h:outputText    value="Fecha Inicio : "/>
                                                </td>
                                                <td align="left">
                                                    <p:calendar id="CalendarFechaIni" value="#{reporteConsultasHistorica.fechaIni}" size="30"  maxlength="30" pattern="MM/dd/yyyy HH:mm"  locale="es"/>

                                                </td>
                                                <td align="left"  style="width: 80px">
                                                    <h:outputText  value="Fecha Fin : "/>
                                                </td>
                                                <td align="left" >
                                                    <p:calendar  id="CalendarFechaFin" value="#{reporteConsultasHistorica.fechaFin}" size="30"   maxlength="30" pattern="MM/dd/yyyy HH:mm"
                                                           locale="es"      />
                                                </td>
                                            </tr>                                   			   
                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{reporteConsultasHistorica.buscarByIsdn}" styleClass="button validate" id="buttonValidate" value="Buscar"/> 
                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{reporteConsultasHistorica.nuevaBusqueda}" id="buttonNuevo" value="Limpiar"/>
                                                </td> 
                                            </tr>                         

                                        </table>
                                    </p:panel>
                                </td>   
                            </tr>


                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>

                                    <p:dataTable id="tb1" var="cgroup" value="#{reporteConsultasHistorica.listConsultaGroup}"
                                                 paginatorTemplate=" {Exporters}"

                                                 >
                                        <f:facet name="header">
                                          
                                            <h:commandLink actionListener="#{reporteConsultasHistorica.donwloadReporteExcel()}" disabled="#{!not empty reporteConsultasHistorica.listConsultaGroup}" title="Exportar a Excel">
                                                    <h:graphicImage alt="Reporte Accesos" 
                                                                    url="/resources/icons/xlsx.png" styleClass="icon" height="20"
                                                                    width="20" />
                                                    <p:fileDownload value="#{reporteConsultasHistorica.descarga}" />
                                                </h:commandLink>
                                            
                                              <h:commandLink actionListener="#{reporteConsultasHistorica.donwloadReporteCsv()}" disabled="#{!not empty reporteConsultasHistorica.listConsultaGroup}" title="Exportar a Csv">
                                                    <h:graphicImage alt="Reporte Accesos" 
                                                                    url="/resources/icons/csv.png" styleClass="icon" height="20"
                                                                    width="20" />
                                                    <p:fileDownload value="#{reporteConsultasHistorica.descarga}" />
                                                </h:commandLink>
                                            
                                        </f:facet>

                                        <p:column style="width:16px" exportable="false">
                                            <p:rowToggler />
                                        </p:column>
                                        <p:column headerText="Telefono" >
                                            <h:outputText value="#{cgroup.group.msisdn}" />
                                        </p:column>
                                        <p:column headerText="Fecha">
                                            <h:outputText value="#{cgroup.group.fecha}"> 
                                                <f:convertDateTime type="date" pattern="dd-MM-YYYY HH:mm:ss"/>
                                            </h:outputText>

                                        </p:column>
                                        <p:column headerText="Session" >
                                            <h:outputText value="#{cgroup.group.sessionId}" />
                                        </p:column>

                                        <p:ajax event="rowToggle" oncomplete="ftextogenerado();"/>
                                        <p:rowExpansion>

                                            <p:dataTable id="tbl2" var="row" value="#{cgroup.childrens}"  >                                   
                                                <p:column style="width:150px">
                                                    <f:facet name="header">
                                                        <h:outputText value="Fecha"/>
                                                    </f:facet>
                                                    <h:outputText value="#{row.fecha}">
                                                        <f:convertDateTime type="date" pattern="dd-MM-YYYY HH:mm:ss"/>
                                                    </h:outputText>
                                                </p:column> 
                                                <p:column style="width:50px">
                                                    <f:facet name="header">
                                                        <h:outputText value="Servicio"/>
                                                    </f:facet>
                                                    <h:outputText value="#{row.identificadorServicio}"/>
                                                </p:column> 
                                                <p:column style="width:50px">
                                                    <f:facet name="header">
                                                        <h:outputText value="Canal"/>
                                                    </f:facet>
                                                    <h:outputText value="#{row.nombreCanal}"/>
                                                </p:column>
                                                <p:column style="width:50px">
                                                    <f:facet name="header">
                                                        <h:outputText value="Opcion"/>
                                                    </f:facet>
                                                    <h:outputText value="#{row.opcion}" escape="false" id="idOpcion"/>
                                                </p:column>

                                                <p:column style="width:500px">
                                                    <f:facet name="header">
                                                        <h:outputText value="Texto generado"/>
                                                    </f:facet>
                                                    <h:outputText  value="#{row.textoGenerado}" escape="false" id="gentext" style="white-space: pre-wrap;"/>
                                                </p:column>

                                            </p:dataTable>  

                                        </p:rowExpansion>
                                    </p:dataTable> 




                                </td>
                            </tr>
                        </table>
                    </center>
                    <script>
                        function ftextogenerado() {
                            $(".ui-expanded-row-content .ui-widget-content span[id$='gentext']").each(function (index) {
                                var content = $(this).text();
                                var contenttext = [];
                                if (content) {
                                    var splitcontent = content.split("|");
                                    for (var index in splitcontent) {
                                        var aux = splitcontent[index];
                                        if (aux) {
                                            aux = aux.trim();
                                            contenttext.push(aux);
                                            contenttext.push("<br></br>");
                                        }
                                    }
                                }
                                $(this).empty().append(contenttext.join("")).removeAttr("id");
                            });
                        }

                        /*function ftextoOpcion() {
                         $(".ui-expanded-row-content .ui-widget-content span[id$='idOpcion']").each(function (index) {
                         var content = $(this).text();
                         var contenttext = [];
                         if (content) {
                         var splitcontent = content.split(";");
                         for (var index in splitcontent) {
                         var aux = splitcontent[index];
                         if (aux) {
                         aux = aux.trim();
                         contenttext.push(aux);
                         contenttext.push("<br></br>");
                         }
                         }
                         }
                         $(this).empty().append(contenttext.join("")).removeAttr("id");
                         });
                         }*/

                    </script>
                </h:form>

            </ui:define>

        </ui:composition>        
    </body>

</html>
