<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h1>GESTIONAR ROLES</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{roleForm.edit}"/>
                            <h:inputHidden value="#{roleForm.roleId}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <p:panel  header="INFORMACION GENERAL" style="width: 350px">
                                        <table>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText rendered="#{roleForm.edit}"  value="Id Grupo :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText rendered="#{roleForm.edit}" disabled="true" size="30" maxlength="30" value="#{roleForm.role.rolId}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText  value="Nombre :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText id="Nombre" size="30" maxlength="30" value="#{roleForm.role.nombre}" required="false" label="Nombre" validatorMessage="Los Caracteres no son Validos.." >
                                                        <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                    </h:inputText>
                                                    <p:message for="Nombre" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Descripción :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText id="Descripcion" size="30" maxlength="30" value="#{roleForm.role.descripcion}" required="false" label="Descripcion" validatorMessage="Los Caracteres no son Validos..">
                                                        <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-]+$" />
                                                    </h:inputText>
                                                    <p:message for="Descripcion" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Página de Inicio :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText id="Pagina" size="30" maxlength="30" value="#{roleForm.rolePageIni}" required="false" label="Pagina" validatorMessage="Los Caracteres no son Validos..">
                                                        <f:validateRegex pattern="^[0-9A-Za-z_ ñáéíóúÑÁÉÍÓÚ*.-/]+$" />
                                                    </h:inputText>
                                                    <p:message for="Pagina" />
                                                </td>
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <p:commandButton onclick="loading();" action="#{roleForm.saveRole}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 

                                                </td>
                                                <td align="left">    
                                                    <p:commandButton onclick="loading();" action="#{roleForm.newRole}"  id="buttonNuevo" value="Limpiar"/>
                                                </td>  
                                            </tr> 

                                        </table>
                                    </p:panel>
                                </td>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>
                                    <p:dataTable var="row" value="#{roleForm.listRole}" paginator="true" rows="10"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15"
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE ROL 
                                        </f:facet>

                                        <p:column sortBy="#{row.nombre}">
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombre}"/>
                                        </p:column>                                                              

                                        <p:column style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                           <h:commandLink id="editLink" action="#{roleForm.editRole}">
                                                <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="roleId" value="#{row.rolId}"/>
                                            </h:commandLink>
                                                                                       
                                            <h:commandLink id="deleteLink"  action="#{roleForm.deleteRole}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="roleId" value="#{row.rolId}"/>
                                            </h:commandLink>

                                            <h:commandLink id="editLinkEr" action="/view/RolFormulario.xhtml" >
                                                <h:graphicImage id="editPageImage" alt="Modificar" url="/resources/icons/tree.png" styleClass="icon"/>
                                                <f:param name="roleId" value="#{row.rolId}"/>
                                            </h:commandLink>

                                        </p:column>
                                    </p:dataTable>
                                </td> 
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

