<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>        
      
        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">
                
                
                <h:form id="mainForm">
                  <center>
                    <h1>USUARIOS</h1>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                        <h:inputHidden value="#{roleUserForm.userId}"/>
                        <h:inputHidden value="#{roleUserForm.edit}"/>
                            
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                               </td>
                            </tr>
                            <tr>                              
                                <td width="100%" align="left">
                                    <p:panel header="INFORMACION GENERAL"  style="width: 350px">
                                    <table>
                                         
                                       <tr>
                                            <td align="left">
                                                <h:outputText rendered="#{roleUserForm.edit}" value="id Usuario :"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText  rendered="#{roleUserForm.edit}" disabled="true" size="30" maxlength="30" value="#{roleUserForm.user.usuarioId}" />
                                            </td>
                                        </tr>
                                       
                                       <tr>
                                            <td align="left">
                                                <h:outputText  value="Usuario :"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText  size="30" maxlength="30" value="#{roleUserForm.user.login}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <h:outputText  value="Nombre :"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText   id="name" size="30" maxlength="30" value="#{roleUserForm.user.nombre}" disabled="true" />
                                            </td>
                                        </tr>
                                        
                                         <tr>
                                            <td align="left">
                                                <h:outputText  value="Rol :"/>
                                            </td>
                                            <td align="left">
                                                <h:selectOneMenu value="#{roleUserForm.select}" onselect="#{roleUserForm.select}">
                                                    <f:attribute name="optionClasses" value="option1, option2" />
                                                    <f:selectItems value="#{roleUserForm.selectItems}" />
                                                </h:selectOneMenu>                                         
                                                
                                            </td>
                                            
                                         </tr>
                                        
                                                                               
                                         <tr>
                                           <td align="left">
                                             <p:commandButton onclick="loading();" action="#{roleUserForm.saveUser}" styleClass="button validate" id="buttonValidate" value="Guardar"/> 
                                           
                                           </td>
                                             <td align="left">    
                                                 <p:commandButton onclick="loading();" action="#{roleUserForm.newUser}"  id="buttonNuevo" value="Limpiar"/>
                                            </td> 
                                        </tr>                         
                                      
                                    </table>
                                  </p:panel>
                                </td>
                            </tr>
                           
                        
                        <tr>
                          <td width="100%" align="left">
                              <br></br><br></br>
                              
                              
                              <p:dataTable var="row" value="#{roleUserForm.listUser}" paginator="true" rows="10"  
                                              paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15"
                                              >
                                     <f:facet name="header">  
                                        LISTA DE USUARIOS 
                                    </f:facet>                                     
                                     
                                  <p:column style="text-align: center;" >
                                    <f:facet name="header">
                                       <h:outputText value="USUARIO"/>
                                    </f:facet>
                                      <h:outputText value="#{row.login}"/>
                                 </p:column>  
                                 
                                  <p:column style="text-align: center;" >
                                    <f:facet name="header">
                                       <h:outputText value="NOMBRE"/>
                                    </f:facet>
                                      <h:outputText value="#{row.nombre}"/>
                                 </p:column>                                       
                                 
                                  <p:column >
                                    <f:facet name="header">
                                       <h:outputText value="ROL"/>
                                    </f:facet>
                                      <h:outputText value="#{row.nameRole}"/>
                                  </p:column>    
                                  
                                                                
                                 <p:column style="text-align: center;">
                                    <f:facet name="header">
                                       <h:outputText value="ACCIONES"/>
                                    </f:facet>
                                    
                                     <h:commandLink id="editLink" action="#{roleUserForm.editRoleUser}" immediate="true">
                                       <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                       <f:param name="user_id" value="#{row.usuarioId}"/>
                                    </h:commandLink>
                                     <h:commandLink id="deleteLink"  action="#{roleUserForm.deleteRoleUser}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                       <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                       <f:param name="user_id" value="#{row.usuarioId}"/>
                                    </h:commandLink>
                                </p:column>
                                  
                                     
                                </p:dataTable>

                              
                         </td>
                      </tr>
                        
                        
                        </table>
                  </center>
                    
                </h:form>
                
                
                
            </ui:define>
        </ui:composition>
        
    </body>
    
</html>
