<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h1>GESTIONAR ROLES</h1>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">

                            <h:inputHidden value="#{rolFormularioForm.idRol}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>

                            <tr>
                                <td align="left">
                                    <h:outputText value="Nombre de Rol: " />  
                                    <h:inputText disabled="true" value="#{rolFormularioForm.nameRole}" />  
                                </td>
                            </tr>

                            <tr>
                                <td align="left" colspan="2">
                                    <br></br>

                                    <p:tree value="#{rolFormularioForm.root}" var="node"
                                            selectionMode="checkbox"
                                            selection="#{rolFormularioForm.selectedNodes}">
                                        <p:treeNode>
                                            <h:outputText value="#{node}"/>
                                        </p:treeNode>
                                    </p:tree>
                                </td>
                            </tr> 


                            <tr>
                                <td align="left" colspan="2">
                                    <p:commandButton id="editLink" action="#{rolFormularioForm.saveRolFormulario}" value="Guardar Configuracion de Menu" ajax="false">
                                        <f:param name="roleId" value="#{rolFormularioForm.idRol}"/>
                                    </p:commandButton>
                                </td>
                            </tr>
                        </table>
                    </center>
                </h:form>
            </ui:define>
        </ui:composition>

    </body>

</html>

