<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <body>
        <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">
               
                
                <h:form id="mainForm">
                    <h2 align="left">GESTIONAR VALORES DE SEGMENTO</h2>
                        
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            
                            <h:inputHidden value="#{sorterValueForm.idSorter}"/>
                            
                            <tr>
                                 <td>
                                     <p:panel style="width: 450px" >
                                            <f:facet name="header">
                                                     INFORMACION GENERAL
                                            </f:facet>
                                        <table>
                                        <tr>
                                            <td colspan="2">
                                                <h:outputText value="#{sorterValueForm.message}" style="color: red"/>
                                            </td>
                                        </tr>
                                         <tr>
                                             <td>
                                                 <h:outputText value="Segmento Clasificador:"/>
                                             </td>
                                             <td>
                                                 <h:selectOneMenu value="#{sorterValueForm.selectedItemSorter}">
                                                    <f:attribute name="optionClasses" value="option1, option2" />
                                                    <f:selectItems value="#{sorterValueForm.selectItemsSorter}" />
                                                </h:selectOneMenu>
                                             </td>
                                          </tr>
                                         
                                          <tr>
                                            <td align="left">
                                                <h:outputText  value="Valor:"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText id="name" size="50" maxlength="50"   value="#{sorterValueForm.namesorterValue}"  />
                                            </td>
                                        </tr>
                                         
                                          <tr>    
                                              <td align="center" colspan="2">
                                                <br></br>
                                                  <p:commandButton onclick="loading();" action="#{sorterValueForm.saveSorterValue}" styleClass="button validate" id="buttonValidate" value="Guardar"/> &nbsp;&nbsp;&nbsp;
                                              </td>                                              
                                          </tr>
                                       </table>
                                    </p:panel>
                                 </td>  
                            </tr>
                            <tr>
                              <td align="left">
                                      <br></br>
                              </td>
                            </tr>
                            <tr>
                                <td width="100%">
                                        <p:dataTable id="sorterValueList" value="#{sorterValueForm.sorterValueList}" var="row" paginator="true" rows="10"  
                                              paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
                                             <f:facet name="header">  
                                       LISTA DE VALORES
                                    </f:facet>
                                            
                                         
                                        <p:column >
                                            <f:facet name="header">
                                               <h:outputText value="NOMBRE DEL CLASIFICADOR"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nameSorter}"/>
                                        </p:column>
                                        
                                        <p:column >
                                            <f:facet name="header">
                                               <h:outputText value="VALOR"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nameValue}"/>
                                        </p:column>

                                            <p:column>
                                            <f:facet name="header">
                                               <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="deleteLink"  action="#{sorterValueForm.deleteSorterValue}" onclick="return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                               <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                               <f:param name="sorterId" value="#{row.sorterId}"/>
                                               <f:param name="nameValue" value="#{row.nameValue}"/>
                                            </h:commandLink>
                                        </p:column>
                                     </p:dataTable>
                               </td>
                             </tr>
                            
                             <tr>
                                
                            </tr>
                        </table>
                </h:form>
                
                
            </ui:define>
        </ui:composition>
    </body>
</html>