<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    
    <body>
      <ui:composition template="./../resources/templates/simple.xhtml">
            <ui:define name="content">
                <h:form id="mainForm">
                  <center>
                      <h2 align="left">GESTIONAR SEGMENTO CLASIFICADOR</h2>
                    
                    
                    <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <tr>
                                <h:inputHidden value="#{sorterForm.edit}"/>
                                <h:inputHidden value="#{sorterForm.sorterId}"/>
                                <h:inputHidden value="#{sorterForm.hideSorderId}"/>
                                <h:inputHidden value="#{sorterForm.sorter.sorterId}"/>
                                <td width="100%"  align="left">
                                    
                                    <p:panel style="width: 500px" >
                                            <f:facet name="header">
                                                     INFORMACION GENERAL
                                            </f:facet>
                                            
                                    <table>
                                        <tr>
                                           <td align="center" colspan="2">
                                               <h:outputText value="#{sorterForm.message}" style="color: red"/>
                                           </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <h:outputText  rendered="#{sorterForm.edit}" value="Clasificador Id :"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText disabled="true" rendered="#{sorterForm.edit}" value="#{sorterForm.sorterId}">
                                                </h:inputText>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <h:outputLabel for="name" value="Nombre :"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText id="name" size="50" maxlength="50"   value="#{sorterForm.sorter.name}"  />
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td align="left">
                                                <h:outputLabel for="nameDescrip" value="Nombre Consulta del Datamart:"/>
                                            </td>
                                            <td align="left">
                                                <h:inputText id="nameDescrip" size="50" maxlength="50"   value="#{sorterForm.sorter.nameQuestion}"  />
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td align="center" colspan="2">
                                                <br></br>
                                                <p:commandButton onclick="loading();" action="#{sorterForm.saveSorter}" styleClass="button validate" id="buttonValidate" value="Guardar"/> &nbsp;&nbsp;&nbsp;
                                                <p:commandButton onclick="loading();" actionListener="#{sorterForm.newSorter}" id="buttonNuevo" value="Limpiar"/>
                                            </td>
                                        </tr>
                                    </table>
                                  </p:panel>  
                                </td>
                            </tr>
                        <tr>
                          <td align="left">
                                  <br></br>
                          </td>
                        </tr>
                          <tr>
                           <td width="100%">
                              <p:dataTable id="sortersList" value="#{sorterForm.sortersList}" var="row" paginator="true" rows="10" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
                                <f:facet name="header">  
                                       LISTA DE SEGMENTOS CLASIFICADORES
                                    </f:facet>
                              
                                  
                                <p:column sortBy="#{row.name}">
                                    <f:facet name="header">
                                       <h:outputText value="NOMBRE"/>
                                    </f:facet>
                                    <h:outputText value="#{row.name}"/>
                                </p:column>                                                              
                                 
                                  <p:column>
                                    <f:facet name="header">
                                       <h:outputText value="NOMBRE CONSULTA"/>
                                    </f:facet>
                                      <h:outputText value="#{row.nameQuestion}"/>
                                </p:column>  
                                  
                                 <p:column>
                                    <f:facet name="header">
                                       <h:outputText value="ACCIONES"/>
                                    </f:facet>
                                    
                                    <h:commandLink id="editLink" action="#{sorterForm.editSorter}" >
                                       <h:graphicImage id="editImage" alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                       <f:param name="sorterId" value="#{row.sorterId}"/>
                                    </h:commandLink>
                                    
                                    <h:commandLink id="deleteLink"  action="#{sorterForm.deleteSorter}" onclick="return confirm('¿Esta seguro que desea eliminar este segmento?');">                                                   
                                       <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                       <f:param name="sorterId" value="#{row.sorterId}"/>
                                    </h:commandLink>
                                </p:column>
                                  
                             </p:dataTable>
                         </td>
                      </tr>
                        
                        
                        </table>
                    
                    
                  </center>
                    
                </h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
