<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <body>


        <ui:composition template="./../resources/templates/simple.xhtml">

            <ui:define name="content">


                <h:form id="mainForm">
                    <center>
                        <h2 align="left">GESTIONAR BILLETERAS SIMPLES</h2>

                        <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
                            <h:inputHidden value="#{walletForm.billeteraId}"/>
                            <h:inputHidden value="#{walletForm.edit}"/>
                            <tr>
                                <td align="center" colspan="2">
                                    <p:messages id="messages" showDetail="true" autoUpdate="true"/> 
                                </td>
                            </tr>

                            <tr>

                                <td width="100%" align="left">

                                    <p:panel id="idPanel"  header="INFORMACION GENERAL" style="width: 400px">

                                        <table >
                                            <tr>
                                                <td align="left" >
                                                    <h:outputText  rendered="#{walletForm.edit}" value="Id Billetera :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText rendered="#{walletForm.edit}" disabled="true" size="30" maxlength="30" value="#{walletForm.billetera.billeteraId}" />
                                                </td>                                                
                                            </tr>
                                            <tr>           
                                                <td align="left" style="border-width:0px;">
                                                    <h:outputText  value="Nombre en TSB :"/>
                                                </td>
                                                <td align="left" style="border-width:0px;">
                                                    <h:inputText size="30" maxlength="30" value="#{walletForm.billetera.nombreComverse}" />
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText  value="Nombre Comercial :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  size="30" maxlength="30" value="#{walletForm.billetera.nombreComercial}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Unit Type :"/>
                                                </td>

                                                <td align="left">
                                                    <p:selectOneMenu id="selectItembanco" value="#{walletForm.selItemUnitType}" style="width: 100%;">
                                                        <f:selectItems value="#{walletForm.selectItemsUnitType}" />
                                                    </p:selectOneMenu>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Prefijo Unidad :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  size="30" maxlength="30" value="#{walletForm.billetera.prefijoUnidad}" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Operador :"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{walletForm.selItemOperador}" style="width: 100%;">
                                                        <f:selectItem itemLabel="Ninguno" itemValue="NINGUNO" />
                                                        <f:selectItem itemLabel="Suma" itemValue="SUMA" />
                                                        <f:selectItem itemLabel="Resta" itemValue="RESTA" />
                                                        <f:selectItem itemLabel="Multiplicación" itemValue="MULTIPLICACION" />
                                                        <f:selectItem itemLabel="División" itemValue="DIVISION" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Valor de operación :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerValor" min="0" value="#{walletForm.billetera.valor}" style="width: 90%;"/>                                      

                                                </td>   
                                            </tr>


                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Cantidad decimal :"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu value="#{walletForm.billetera.cantidadDecimales}" style="width: 100%;">
                                                        <f:selectItem itemLabel="0" itemValue="0" />
                                                        <f:selectItem itemLabel="1" itemValue="1" />
                                                        <f:selectItem itemLabel="2" itemValue="2" />
                                                        <f:selectItem itemLabel="3" itemValue="3" />
                                                        <f:selectItem itemLabel="4" itemValue="4" />
                                                        <f:selectItem itemLabel="5" itemValue="5" />
                                                    </p:selectOneMenu>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Monto Mínimo :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner id="spinnerMin" min="0.0" max="99999" stepFactor="1.0"  value="#{walletForm.billetera.montoMinimo}" style="width: 90%;"/>                                      

                                                </td>   
                                            </tr>
                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Monto Máximo :"/>
                                                </td>
                                                <td align="left">
                                                    <p:spinner  id="spinnerMax" min="0.0"  max="99999999999999999999999999999999.999999" maxlength="38"  value="#{walletForm.billetera.montoMaximo}" style="width: 90%;"/>                                      

                                                </td>   
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Alco :"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectBooleanCheckbox value="#{walletForm.billetera.alco}" >  
                                                        <p:ajax  listener="#{walletForm.getAcumuladores()}" update=":mainForm:somAcumulador"/>  
                                                    </p:selectBooleanCheckbox>                                       

                                                </td>   
                                            </tr>

                                            <tr>
                                                <td align="left">
                                                    <h:outputText value="Texto Ilimitado :"/>
                                                </td>
                                                <td align="left">
                                                    <h:inputText  size="30" maxlength="30" value="#{walletForm.billetera.textoIlimintado}" />
                                                </td>
                                            </tr>

                                            <tr >
                                                <td align="left">
                                                    <h:outputText  value="Acumulador :" />
                                                </td>
                                                <td align="left">
                                                    <p:selectOneMenu id="somAcumulador" value="#{walletForm.selectItemAcumulador}"  style="width: 100%;">
                                                        <f:attribute name="optionClasses" value="option1, option2" />
                                                        <f:selectItems value="#{walletForm.selectItemsAcumuladores}" />
                                                    </p:selectOneMenu> 

                                                </td>   
                                            </tr>
                                            <tr >
                                                <td align="left">
                                                 <h:outputText value="Es Acumulado:"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectBooleanCheckbox value="#{walletForm.billetera.acumulado}" >  
                                                    </p:selectBooleanCheckbox>                                       
                                                </td>  
                                            </tr>
                                             <tr>
                                                <td align="left">
                                                 <h:outputText value="Es Reserva:"/>
                                                </td>
                                                <td align="left">
                                                    <p:selectBooleanCheckbox value="#{walletForm.billetera.reserva}" >  
                                                    </p:selectBooleanCheckbox>                                       
                                                </td>  
                                            </tr>
                                            <tr>
                                                <td colspan="2">  
                                                    
                                                </td>   
                                            </tr>
                                            <tr>
                                                
                                                <td align="left">

                                                    <p:commandButton  action="#{walletForm.saveWallet}"
                                                                      styleClass="button validate"
                                                                      id="buttonValidate" value="Guardar" 
                                                                      update="@this :mainForm:idPanel"  
                                                                      ajax="false"
                                                                      onclick="varTable.clearFilters()"
                                                                      />

                                                </td>
                                                <td align="left">    
                                                    <p:commandButton  id="buttonNuevo" value="Limpiar" 
                                                                      action="#{walletForm.newWallet()}"
                                                                      update="@this :mainForm:idPanel"  
                                                                      ajax="false"
                                                                      />
                                                </td>  
                                            </tr> 

                                        </table>


                                    </p:panel>

                                </td>
                            </tr>

                            <tr>
                                <td width="100%" align="left">
                                    <br></br><br></br>
                                    <p:dataTable id="dataTable" 
                                                value="#{walletForm.billeteraList}" var="row" 
                                                 paginator="true" rows="#{walletForm.rowMaxTable}"  
                                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="10,15,#{walletForm.rowMaxTable}"
                                                 widgetVar="varTable"
                                                 emptyMessage="No se encontraron Datos !!"
                                                 filteredValue="#{walletForm.billeteraListFilter}"                                                  
                                                 >
                                        <f:facet name="header">  
                                            LISTA DE BILLETERAS SIMPLES
                                        </f:facet>

                                        <p:column  filterBy="#{row.nombreComverse}" headerText="NOMBRE COMVERSE" filterMatchMode="contains">
                                            <h:outputText value="#{row.nombreComverse}"/>
                                        </p:column> 
                                        <p:column >
                                            <f:facet name="header">
                                                <h:outputText value="NOMBRE COMERCIAL"/>
                                            </f:facet>
                                            <h:outputText value="#{row.nombreComercial}"/>
                                        </p:column>
                                        <p:column width="30" style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ALCO"/>
                                            </f:facet>
                                            <h:outputText value="#{(row.alco=='t')? 'SI':'NO'}"/>
                                        </p:column>
                                        <p:column width="30" style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="ACUMULADO"/>
                                            </f:facet>
                                            <h:outputText value="#{(row.acumulado=='t')?  'SI':'NO'}"/>
                                        </p:column>
                                        <p:column width="30" style="text-align: center;">
                                            <f:facet name="header">
                                                <h:outputText value="RESERVA"/>
                                            </f:facet>
                                             <h:outputText value="#{(row.reserva=='t') ? 'SI':'NO'}"/>
                                        </p:column>

                                        <p:column style="text-align: center;" width="60">
                                            <f:facet name="header">
                                                <h:outputText value="ACCIONES"/>
                                            </f:facet>

                                            <h:commandLink id="editLink"  action="#{walletForm.editWallet()}" onclick="varTable.clearFilters()">
                                                          
                                                <h:graphicImage id="editImage"  alt="Modificar" url="/resources/icons/edit.png" styleClass="icon"/>
                                                <f:param name="walletId" value="#{row.billeteraId}"/>
                                            </h:commandLink>
                                            
                                            <h:commandLink  id="deleteLink" actionListener="#{walletForm.deleteWallet}"  onclick=" varTable.clearFilters();return confirm('¿Esta seguro que desea eliminar este registro?');">                                                   
                                                <h:graphicImage id="deleteImage" alt="Eliminar" url="/resources/icons/delete.png" styleClass="icon" />
                                                <f:param name="walletId" value="#{row.billeteraId}"/>                                                
                                            </h:commandLink>
                                        </p:column>
                                    </p:dataTable>
                                </td> 
                            </tr>
                        </table>
                    </center>
                </h:form>
                
            </ui:define>
        </ui:composition>

    </body>

</html>

